In [41]:
from web3 import Web3, IPCProvider

In [43]:
w3 = Web3(IPCProvider('/shakespeare/sandipan/Ethereum/.ethereum/geth.ipc'))

In [44]:
w3.eth.getBlock('latest')

AttributeDict({'difficulty': 1428479091707262,
 'extraData': HexBytes('0x7777772e62772e636f6d'),
 'gasLimit': 6695894,
 'gasUsed': 6678838,
 'hash': HexBytes('0xdf59d721f42b5e907f249bdd7dfd85c2dbe466752a8ff3f4a8e7279144702fef'),
 'logsBloom': HexBytes('0x00c8212100424044000300270010100a110800002010020141f384001038091c00000300100002008201054a1080040000083a210005100018e0800022900a05884a204180202400a2116028808080c4620484460104120020230004480200000440202c09000402200140600010082021202020080440000044d6500800002136401ec0050004000040040012500028868001020100207004010008040421600008e00000800000038012804081001008c08511001aa000080800c6801050094800040290042401082240104080c58106120325400a40102c0100011864110d00000004040a000128208022400020406004120400c2d4021128304800000a80'),
 'miner': '0xbCDFC35b86BedF72F0Cda046A3c16829A2Ef41d1',
 'mixHash': HexBytes('0x2c583c308ad0c4576c2b77216a0e8db2b51081c20a6dce6f5ec77da03cb7e2d0'),
 'nonce': HexBytes('0x1fd98c2ab0b0a4ef'),
 'number': 4487392,
 'parentHash': HexBytes('0x0ddb87b1fc52be9d8ee3421d94cf0f277e1e4c7a8a548cc4961c3fd1fb3f6848'),
 'receiptsRoot': HexBytes('0x6aab167c52fe4a66fd0b1dd80c449aac0975a5744fed674e4789cd1e0fec3fb8'),
 'sha3Uncles': HexBytes('0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347'),
 'size': 27490,
 'stateRoot': HexBytes('0xfe50af5bba8fb48cb90f87b269a0a151c87640bf5573736c6d58fd528b46e423'),
 'timestamp': 1509780047,
 'totalDifficulty': 1368860814872433994838,
 'transactions': [HexBytes('0x03aa1536139bbf61c51ee7a51bc316cc534358e44e54403634f9d0226a87c3b8'),
  HexBytes('0xd72f28d8ed47da0fa0f540eea8c1cfd618eab85276c0f39d7a8c47a08adf40cb'),
  HexBytes('0x1d5faafd19926a77b6c33e9bd04b76f4a58c75a0d5239516de3a031d594353cb'),
  HexBytes('0xd687d65104e45b6bc89d488dfec3f98b6543a1b9ce5f2110ca1be42e510066e2'),
  HexBytes('0x29d2cb324759bfae925b935831b262231fb08f16a5b813f7d46750c9b2a02d45'),
  HexBytes('0x9b897d2631322a3b58e5d60068bbc19678155c14679ed396aa7a4841915d9c70'),
  HexBytes('0x15b4230d590fdd023d674124d0dacf0e9a8088f36a94c3a3655398935b4476ff'),
  HexBytes('0x4e7e31a5f5db2578b73acabfc27fd33597d1fee169c25e2e25ceef716efb71f6'),
  HexBytes('0xf7029824aeec7d5ef196b9b3c8fed4f70301f44b31ab525bcd6f35fc280531af'),
  HexBytes('0xfabbabddb07150cb31ef7c477815b48177d679822f59712e014d79c2b5627994'),
  HexBytes('0x39b27dfbde8a388bdd68d614f1e6439ba5ffdb25db6b097f2c0d51e2bf83da3a'),
  HexBytes('0x0093dca86357cc89a19c4898fda29ebcc9b2fea871e5525f365a4edf20d70bad'),
  HexBytes('0x6e6978a1c0f9f0d7c125aa77357c9c0e3ceea48462e24c16aa033711b9cb2ab0'),
  HexBytes('0xa7c7c770cda9449c5680f135a4509343ee836dc0e96d2939b1a03ee77a689ebc'),
  HexBytes('0x278ae8989e1b065252e682b6e72682c72c0c524f4240833753c9d6513c024390'),
  HexBytes('0xe8d5c4ea85308239ffa9528edbd7de755204f3475bec51a43300a4a0682f9ddb'),
  HexBytes('0x6f44845415ab03830b33ffc28f771f92cec949b36eca31294d669f149d1c044e'),
  HexBytes('0x05e173f83c783c4f97cac30b6af056b31c89e46e33f54d2ed8702ad9d1795a03'),
  HexBytes('0x59ddf90b3ca762f3bbf77cbf8a33df3636c91952fe8d11b8ba9bb970521151eb'),
  HexBytes('0xfdcd8cc8dab48588ca45745ab5bd53b64179ce0df975ed05dbdbf02b4a01ad4d'),
  HexBytes('0x8a0baeab4c24e5b6e75760ee5bc4f7ed1299a26dade51552b2bfb681f2ecdeeb'),
  HexBytes('0x8f9d88db46d557fab379a66a044efa18a1cd1b5059d852c0f35de2fc1b5a8d35'),
  HexBytes('0xfdb1b3e6e5222c3675eb0d34cd65fb14061bf5feaf59e24cf620d8ba39614d3c'),
  HexBytes('0x88a2f58dd38cd27033fd363df52ffa39c752125999939c47a6c64ce98748822f'),
  HexBytes('0x35a52c7a5bbd358d6bbf4e130f3ab67a0b30e1ce50c092be47643d7c0fab11e9'),
  HexBytes('0xef86a98c4a88c19717353be3662bad69507d8d8af0f4be67ad48b8abcd69266b'),
  HexBytes('0x07574be6b87100606d6e4d7be897b36b2a44352bf93b9bedf75a93eeb6ca531c'),
  HexBytes('0xb1b3e3fdc1e153507979337ada366b1e3dcad3fcccea9b914649ceb42465f6f3'),
  HexBytes('0x619d6270abb09a57b6831475882e15764be0d301a10d36e4970c71c17aafa2c7'),
  HexBytes('0x7129026824f36fa7d428f9640a270384d544b346546988822dd94f50f602c8aa'),
  HexBytes('0xdfdaccd029b0b315f8ebcb5a5f651eb0b80c45fbc91332c8248ce6aa8afeccf1'),
  HexBytes('0x69f9d5801c711b7a871680149d289f225a4bef30257ae859109dd292e74206ee'),
  HexBytes('0x93fa8a35bdab443bf6b29ef6fc7cf41991da4f753630385407182c8485a0c26b'),
  HexBytes('0xed9d49a30395f3c8cbfe4513aa192dc2f529c0f9abd49eaa7d3e69289f3a918f'),
  HexBytes('0x812795419082f135e161c75e097d718b42c6ec36e4872322697d876c5cff640e'),
  HexBytes('0x30071b0242f9fc99dc8977d1f5b4c2f8f21a2143a486151a47e85b9e8d3d1d5e'),
  HexBytes('0xab37f6c9e65766a47f9e9e8a601d5fd23c07c49d8774cd2811771894e5df2dac'),
  HexBytes('0x72e24b62a0d86ee893e3eb25195b5fedaf8d2662bbae5195566a56024c2da9a6'),
  HexBytes('0x7ff82be0beb8f6e517f574b8b6acff1322c8d15940ca67388b7b89e1ff73e985'),
  HexBytes('0xd8e6b227e93a8325f489e7948d6f70e91375b54019247bdfd9a9a70a57c553be'),
  HexBytes('0x3ffa49fc808e0bc20ce1c3908b4162c4fe7a6a2780a51e4b2f39a13f48937617'),
  HexBytes('0xa0f2dbaa7d66071a70511b6c7d9ada200a60515de376e181846a36da10c9d91a'),
  HexBytes('0x1acd10c422b5aeb7d2525b7d1fb5ba41deeebfc51ddcd957770308aac328a065'),
  HexBytes('0xec8ff1d9f6ce11623502c34bc81caf310cbbdbd749c056f0666a343f86c667a0'),
  HexBytes('0x8132cdcd8d6a268d269e35457bc330026dec69a79db03effca13476671331d19'),
  HexBytes('0xdfb53dcfaeb34ea9420a3b3065d70e4e362c9b466e59be80fec2dcc9b0b41ae5'),
  HexBytes('0xf3c17b3037603ececb0f7f58837846ffe6ba6079f740b882771ef5741b8779c3'),
  HexBytes('0x4d80937d013ce8b6f960fd0c16506a2166ea714905319cb0867f3b61aaa28598'),
  HexBytes('0x2b43f93c09b7c64dabd2831d2522bf93d3a76306b0564ea7ebaa69abd61ae2fd'),
  HexBytes('0x82cf4a876e89684918f74b41bd97617e4829ec65f79f462741bf5772eb557941'),
  HexBytes('0x8b48f332ef0f4715f1a39a3156fcbb0e1b8f1d02a00ce02da92a803989004232'),
  HexBytes('0x2afa1a04c25cd224b4e38159e5cc0350fbbaa3c05ecee3ca8b6fa27dc1130c56'),
  HexBytes('0x66a287e1256b6b2000c5a936ca1702c4d9e30dfb76bb4700e965b0b91c4002d0'),
  HexBytes('0xdb3aa02a49ab70573daa7902d6b6005b878f00a522c9f2833eb318a41cd4ac92'),
  HexBytes('0x8d3b0cc2fa15973909b7e08a0594aad8c360f8f7c4d4c4fc7d922c7c0c77de2c'),
  HexBytes('0x2e95b409ea3cf9af4a2a0e4a2f61a3478439268ae025a782a08e61ddc1e92f9f'),
  HexBytes('0xacbcaac2305e809bc232e82af78bdae0fc499423cdcec257a6955fcfbbd5c41c'),
  HexBytes('0x628691d832038842ade990fc24ea5a07ecee3df788d60581b6b5ff85f0877de5'),
  HexBytes('0x76783338e0c640c6773450c13c9bfb52876ec877e3263e498a35a88822877534'),
  HexBytes('0x9c04e1df2b5f106e4d6683139ed907faa1fe19b095b9cc0e56e0279ec3bf602a'),
  HexBytes('0xd1444ed2e7c3068134026817c55dc3086530032a90b2018e0a03feaff91851ae'),
  HexBytes('0x73a4ceda82b871da9e307d6e1fa85d23ae21940bbaa072478abd12af5d4d7e7e'),
  HexBytes('0x278d5c5283eece690fad1f59fb7b16d480f8f7db25a0043e76885308b1dde239'),
  HexBytes('0x849d06544070887d9383d6326cf7b63e2a1b75e2e1c64922203de75e541ff8ed'),
  HexBytes('0x9f9e5cda6f891cfceb43095749936b8087121ccd4633805ecff48750691d4673'),
  HexBytes('0x752bd92ed2f7730fe426688c3471d55e6f89df958b37cbecd7a55341cd1aba32'),
  HexBytes('0x70261c199e7afff1038a280c402089cebf37d036d9c520555dbc4c2dbf6ffbfd'),
  HexBytes('0x839df8a043a9b45901338080791212d9bce82bf52e9eb46c6cfa43be7fa7418b'),
  HexBytes('0x48be85579984f17186fb84a9cc8cba1ca30e2c0ed673c952cec9c09efb52d435'),
  HexBytes('0x89e53cc7cff5c0f0518265fdf3d305de50fb2c13122f4569882b397a857b3768'),
  HexBytes('0x2becac36453d044e7144574f8cf0ee757145a166b25c8b2d7b09eacc648fcb24'),
  HexBytes('0x5736f1dee10d538278655d2e240198ca7c5df97ef65be4aeeb94c0819a589bfd'),
  HexBytes('0x26c8fc158d5dd54bcb55d86e2c1b203796a3f84e69556d669a40b7e8ec36cbf1'),
  HexBytes('0xb2bf98b0db3352c87dd2fa3ae759b45c033512e0935e4cd7afa5314074681cfe'),
  HexBytes('0x2098437b45d4afc08fb68ba8a39e4caf505a53fb2653397e376891f962e4b41a'),
  HexBytes('0xbf3aa2a1206a39ffbbc7698f838e3ba1af94da8e2c434e32a1aa8092166ae932'),
  HexBytes('0x71382c044d6d9b6574d90a4e9c0535d2baa94b9fb96b93183eeca9a6f1486b93'),
  HexBytes('0x55ca3d928889a70764f2d398e6a3bde59f9af224343cc912b55a2ec8fa1ac3e7'),
  HexBytes('0xe2bfd5a2b834e84b10af21dba4d3bd6d6b3beea055ebbc0d9cf6f702d2ec4ec8'),
  HexBytes('0x2d5bb5db99964add8a3bfad5af63cc0f1b8a412becd7650cb77b284a4c3b5b99'),
  HexBytes('0x71490febc41ec40216a252c7b4ba9b0dfdcc949c503ff77d5314f67a81633294'),
  HexBytes('0x1c62dd597c020b3faae0f1a150c2e67d3a18125036836b6734941b5cf99a681c'),
  HexBytes('0xa423d38b1ee2d40517f1f2235cd90bc365d75fbdfd4af5ac403c25763ca6eb4a'),
  HexBytes('0x8682568225f6eb4f4797db53d92549839a61982e3ff49e78fb1dc9a0bd8ea59b'),
  HexBytes('0xe40c831ac1dd30beda16c6572204c3297e9eeceaad2e4eecbe14de5445a38952'),
  HexBytes('0x8918be8cc54efbd89971ae653c5d505caa1c0f439c853cc3ad33ad4605103c63'),
  HexBytes('0x43d4fb314eeb473b753cf7673063b37bc3c2d450753078b7cfa2ccd833eea8ef'),
  HexBytes('0xfbb72d6e72422981964fa6f9fe6c5c3b3dcd6a65436e0ea50f8b058f032174c6'),
  HexBytes('0x017759ba84ec58c82b7df412722832909af6d4ad39be10351cb5845e1ac9d8a2'),
  HexBytes('0x6b064a629f656886a38cc538915725608fc8d990ee0e2a5c46a2569f5c49d0b6'),
  HexBytes('0x0d8bca7acfb6ed6142d15f158358e02eb59ac8792c757cd03511ead2856a59b0'),
  HexBytes('0xb74c0056e6d39cefd77da08565c94decedf9f309dd02f101e9464d55293d8d04'),
  HexBytes('0xc34b7d03ad4549371d8ca70c09608e611976b248a8ae7e6a4e1b41ad035ec388'),
  HexBytes('0xf932181c01071aa9f42ff73df41d95e33a07f49142771c355305b530d6c203bc'),
  HexBytes('0xc598ee2dff18cd67d466c6fc0d117de4beb115918c7d42b9ffd698138fa0eb7c'),
  HexBytes('0xccb24ef4809bb50ade95d235ec729374ed51fb62915aa43409b9d167adf4b4f5'),
  HexBytes('0x3a476e510bacec3f71d6eed4f0240e60b0584c456a6a6fec9784508fb60376fd'),
  HexBytes('0x5efd69a4d02ed7437b3b30ede9ae43be111e4fa5d30d23a7726d8a33cb1fa2dc'),
  HexBytes('0x57404930fdf090ce91da5db1fbe24b07bf5cb4487a5acf44b22f1ddd9cab4531'),
  HexBytes('0xe87cd3bd304c35a56d40dabf964ca289c5bc6687b3b0c325a74e909d9494002c'),
  HexBytes('0xec9d7db377f8cf974a98533c6ac593593f99f9a037abdb79f0c7eb092d7e3105'),
  HexBytes('0xbce83a71abc66efc4ef662e43c05ac0ab8a3ee3853e31386759ad13cb6a4df2e'),
  HexBytes('0x2e0c13f02eb5832987e19a08924242de243aed9c5666fa925ba5c60dd18718d6'),
  HexBytes('0x81009ff1a2499e4fe4360c9cc580d260f246dc53c0e5ddc056fe6194ac817bbd'),
  HexBytes('0x25e141c9c705f8864029f164e782e3986b708ae056dc70d299071539b67c07f3'),
  HexBytes('0x77a63652fae193a451f2c6784494df7970f95f5c31487fb2c8e42ecf32e20640'),
  HexBytes('0xf830ea311de4e1ae4e3f988fa4624fb5bb8efb058ca1c7da53c99b87b5308cc3'),
  HexBytes('0xbb5c6133455fa9fc6607a5c0a89d3ceac013abb33c9293c8b3737770545ee0fd'),
  HexBytes('0x10fd6cb650c7646335ee01d51133b579a172ba225eadf3be9df666ffa2c5de04'),
  HexBytes('0xa51154f8ccd6606bb475b592ecee7e799459f3d590682c859bbd80110234e19d'),
  HexBytes('0xfbae21aa7abd49b33f63e84ef1e7cb8990c526a04cf8166b09d8d55c118c3270'),
  HexBytes('0xe87bfded7c86560c3aa3b0a0811260648ef7a5b50f764e784bca3d3db654e023'),
  HexBytes('0xf275ee06561eef32e77d6d06336866cc76ed3fda049b9d0824b3e58e5ef8dd3c'),
  HexBytes('0xc8034beeee4d362d44b55f02edda9dd362745c85bdf5b4dfc92b71f9efb351db'),
  HexBytes('0x9fee236b6c360010591304f6420a2d5aaef6d6e454062da1262a591e2d8920e2'),
  HexBytes('0xfae373f40ecd3c6bd35900581b3dabf9d419ce22ca274e85fb57f11c124c3136'),
  HexBytes('0x15e51f690f275b9476e7f8543273b57b33fb1774be7f13974db557e697211dab'),
  HexBytes('0xf0e75f31936951600bc27dce7f2fc196df0b665db005c62d33daa324a2b6530e'),
  HexBytes('0xa081bf7aa21517248af0c0d809e579dc540f4d14ae11c7d66787f8637520999d'),
  HexBytes('0x890762dec7786bef2d0f15935e8db37d59d0f66c0d5c0d7e057cac033b47b552'),
  HexBytes('0x656729ef11f5eeb32a6d3b97f88de3af9b43a36c007f053caecf36227b3c6c20'),
  HexBytes('0x456f2c335085aab4beaa453397d278af6a700c71f62e2bc2c5866c515c5f6f00'),
  HexBytes('0x114aa751b621d3f86542c1354b4bf4ba043a54ad42a61486a7990143ea14af79'),
  HexBytes('0xb1e5529e40fa1d952c10c9eb80216f7885aca8a6b0a3dcc5d73f4eef1fc11864'),
  HexBytes('0x5048d633d581043ea9727bdc869dea167ae11949784c573cc24a42fc6cbb0f4b'),
  HexBytes('0xfdff57a394f02d73bdac1fb6b8604523f412c8e830e64ee215a8951817576b79'),
  HexBytes('0x04a3f0469659a734181cfe78fe5c3916afe4b7d5d04fcbc0e96d3fb749223a20'),
  HexBytes('0x6c390e1f965d35d5f44545b3e03ddc7c1126e89000f6f3c3c479715ef8aaade7'),
  HexBytes('0x56b74b6fb7f4162fe1166ab6c2c924bdcc32de08a66001186e54d114379747b6'),
  HexBytes('0x07c0ef417c901dcb716488c656db16d131307013a937d05cce9e23e4f94c26b6'),
  HexBytes('0x99f4bbcaad8400b7e6e61f5d50d3a2ea0b4f0293935cd1d9097029eb3ff6c799'),
  HexBytes('0xf07d3623ff469ae892358d2c35b3ae0be2b4d26bd49ac8c354216a0cc1817206'),
  HexBytes('0x1df93042b42f17c6399378081940c38b1ea207ca3cf3c07a356fa3a7d007e733'),
  HexBytes('0x93277246c770a994ec4a3aa8c308a9d00b257fe979666813b555b95ee1782f93'),
  HexBytes('0x04761a69347e73902c7143060853c2adcdab92bb3cf9217e33086c4381c8e226'),
  HexBytes('0x7563ee83277845baede3169312ddea188809e8907ecef00507c40e2998acd140'),
  HexBytes('0xb7463f897466caf6a7bc29682af8b383b01515f885f802715a52b941d147ec97'),
  HexBytes('0xddabfe9c41bdc4fe6d90cfe6cd537011dbf2306e706b18786afb4d64813e8440'),
  HexBytes('0x4b409ae3f98ba43a31a980e2fe140584bd187daf1c09b4e7a9b5b2e9e2d972df'),
  HexBytes('0x8de95267fe2451792884f9e4ec555b3f4f9c1c5276e8b2fb067b176564e74ed3'),
  HexBytes('0xb83a5b5e1127fb145358bcd0ffbb4bc5afc3f7a91d4631cc08492929e3bdc221'),
  HexBytes('0xda681acf3439b39cce2884099b298b3491f9ef5304db3f5c7d915b328708da57'),
  HexBytes('0xc17ff0cf97ef6a5682b7e53a6bf5b7dc27f063b2b3f7992fdafcb4166b9c23d3'),
  HexBytes('0x3490c1b58d731d94edc568b0c7dcc34744b612374baef4d660b55e6629f39e42'),
  HexBytes('0xbec750f4cd17c7cbb7e52ee903b5caa5cbb13e83b8349b2c18a2f77c8a5e38ad'),
  HexBytes('0x92c991e2bad19b13c9365d8e126ef0f5d4b1fd5e9d940a20e8456219fb59f157'),
  HexBytes('0xbc6c0c526f708b68c15412ca49b4e9cbd521392a4f01e20dca003a129541bf56'),
  HexBytes('0xafb439ff38eba93b70f4085dbde576e5c3706a972d74e00749accbc129c505c9'),
  HexBytes('0xd27a204359d2b53c46669eb6247c0b4420da856297f7c699496378a6e17fc100')],
 'transactionsRoot': HexBytes('0x2abe569e969b39436d3d046d1ae6831fff254e341f261e07e5992e9f859c4544'),
 'uncles': []})

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('transaction_till_100000.csv')

In [3]:
df.head()

,From,To,Value,Time,Block
0,ethereum,0,5.000000e+18,0,0
1,ethereum,05a56e2d52c817161883f50c441c3228cfe54d9f,5.000000e+18,1438269988,1
2,ethereum,0193d941b50d91be6567c7ee1c0fe7af498b4137,5.000000e+18,1438270128,10
3,ethereum,e6a7a1d47ff21b6321162aea7c6cb457d5476bca,5.000000e+18,1439799138,100000
4,ethereum,9beb4d346c6309a9ce4f27393c6322c8f03a3be6,5.000000e+18,1438336146,10099

In [17]:
add = df.From.unique()[1]

In [20]:
add = Web3.toChecksumAddress(add)

In [22]:
w3.eth.getBalance(add,100)

140000000000000000000

In [26]:
df_b = df[df['Block']==1000][['From','To']]

In [34]:
import numpy as np

In [35]:
np.concatenate(df_b.From.unique(),df_b.To.unique())

TypeError: only integer scalar arrays can be converted to a scalar index

In [38]:
address = np.append(df_b.From.unique(),df_b.To.unique())

In [41]:
blockNum = 100
for i in range(len(address)):
    if address[i]!='ethereum':
        account = Web3.toChecksumAddress(address[i])
        balance = w3.eth.getBalance(account,blockNum)
        print(address[i],balance)

bb7b8287f3f0a933474a79eae42cbca977791171 151250000000000000000

In [81]:
def fillBalanceTable(blockNum,fname):
    df_b = df[df['Block']==blockNum][['From','To']]
    address = np.append(df_b.From.unique(),df_b.To.unique())
    #with open(fname,'a') as ft:
    for i in range(len(address)):
        if address[i]!='ethereum' and address[i]!='0':
            account = Web3.toChecksumAddress(address[i])
            balance = w3.eth.getBalance(account,blockNum)
            ft = open(fname,'a')
            ft.write(account+','+str(balance)+','+str(blockNum))
            ft.write('\n')
            ft.close()

In [49]:
fillBalanceTable(10000)

bf71642d7cbae8faf1cfdc6c1c48fcb45b15ed22 147343750000000000000

In [47]:
df[df.Block==10000]

,From,To,Value,Time,Block
103,ethereum,bf71642d7cbae8faf1cfdc6c1c48fcb45b15ed22,5.000000e+18,1438334627,10000

In [74]:
fs = open('blockAccountBalance1.csv','w')
fs.write('Account,Balance,Block\n')
fs.close()

In [57]:
for i in range(1,1000):
    fillBalanceTable(i,'blockAccountBalance.csv')

In [62]:
df_1 = pd.read_csv('blockAccountBalance.csv')

In [63]:
df_1.head()

                                      Account              Balance  Block
0  0x05a56E2D52c817161883f50c441c3228CFe54d9f  5000000000000000000      1
1  0xdd2F1e6e498202e86D8f5442Af596580A4f03c2C  5000000000000000000      2
2  0x5088D623ba0fcf0131E0897a91734A4D83596AA0  5156250000000000000      3
3  0xc8ebccC5F5689Fa8659d83713341e5aD19349448  3750000000000000000      3
4  0xc8ebccC5F5689Fa8659d83713341e5aD19349448  8906250000000000000      4

In [64]:
df_1.Block.max()

5000

In [61]:
for i in range(1000,5001):
    fillBalanceTable(i,'blockAccountBalance.csv')

In [82]:
def createBalanceCSV(start,end,fname):
    for i in range(start,end+1):
        fillBalanceTable(i,fname)
        print('finished for block: ',i)

In [67]:
from multiprocessing import Process

In [77]:
jobs = []

In [83]:
jobs.append(Process(target=createBalanceCSV, args=(5305,7500,"blockAccountBalance.csv")))
jobs.append(Process(target=createBalanceCSV, args=(7501,10000,"blockAccountBalance.csv")))
jobs.append(Process(target=createBalanceCSV, args=(10001,12500,"blockAccountBalance.csv")))
jobs.append(Process(target=createBalanceCSV, args=(12501,15000,"blockAccountBalance.csv")))

In [84]:
for j in jobs:
    j.start()
    for j in jobs:
        j.join()

AssertionError: cannot start a process twice

In [80]:
df[df.Block==5305]

           From To         Value        Time  Block
51641  ethereum  0  5.000000e+18  1438288819   5305

In [45]:
import numpy as np
def balanceAccountBlock(blockNum, df): # retrieve balances of all accounts given a block number
    df_b = df[df['Block']<=blockNum][['From','To']]
    address = np.append(df_b.From.unique(),df_b.To.unique())
    address = list(set(address))
    print("addresses to look into: ",len(address))
    with open('AccountBalanace'+str(blockNum)+'.csv','w') as ft:
        ft.write('Account,Balance,Block')
        ft.write('\n')
        for add in address:
            if add!='ethereum' and add!='0':
                try:
                    account = Web3.toChecksumAddress(add)
                    balance = w3.eth.getBalance(account,blockNum)
                    ft.write(add+','+str(balance)+','+str(blockNum))
                    ft.write('\n')
                except:
                    print(add)

In [46]:
balanceAccountBlock(100000,df)

addresses to look into:  7880
b67b6bb30bb68ed96f23f1fb8c6da01b3c37f6d4
e706a05a40761915bc70310f7a94e6b2b596dbf8
6.12416344436736E+039
c47d9e6c75d388aeb92574429dad43a148f2f3ea
164334243ea25246e0703f3bfca824a30e87197f
288e4356f12d0d3d0f8df3506e457e7cfd5f4ab0
87fd1c6dfa355a18911997a9bffa561272829453
5a192b964afd80773e5f5eda6a56f14e25e0c6f3
3da4225ad67e0e5729ff1beaa10bb6e41ddf31f7
8f1c0dd1d8d230f7557b63967586eac9f139dcee
e7ca5a8e75ef17f845c14a85c50e39b0dd30b8b7
710c5febe84c40b3c12be2cb2378b863f67235df
426f78f70db259ac8534145b2934f4ef1098b5d8
9ff6094d95665aa596f05f1f4841d9b29df75188
91409b1271111e5f3a526e53031d7553ec8959d3
c54671b79ffcdc38c550bfc2f43aca4faf8d6f64
f2ae859397af92154241ead0ac7c4ce3bea76e8f
95227f88247580d7c3927bdafe78e73a675cdc76
afa919981af838667228c343c15d7fde1bfa211c
3899a1cdb9b4275d84860c6ab72d09e08dcc589a
ec6a6bd0df7186d3c2fce7c46264b0b9b2e5e1e5
501e496ad1c7fa8d0eed694450ba29b1ec0783bf
ed1f560d21dde85fac18f23530c257c572f2f5ee
d9a6ffe60b9c5e07f3d48a6880e3a2ee4659cdb2
a725d243d631da2c9a1baf73fd323eae46d87023
ebbd4db9019952d68b1b0f6d8cf0683c00387bb5
aae61e43cb0d0c96b30699f77e00d711d0a3979b
6a2bea124a39fad45d506f4d89330356e19592eb
f084eabafbdec8489139e086da1e50930c670873
640bafc5732d621d5611eed670718409acb81366
14b01fe46d16d9283a84b92df2385bdc8f6f7475
a6f56910addd015f84617f1bb1f8c9fdac02171b
f49c47b3efd86b6e6a5bc9418d1f9fec814b69ef
50eefd3ca3ddb144266bfab2194ba9cce30cc8f0
0e1801e70b6262861b1134ccbc391f568afc92f7
3175a28cf6105466923f11bffabd279f162aa2f8
8bb807c77969259b4bb4fb3522e1720f4f6bebed
d81c0676a709c835d46771a49db31af66c2dd87f
76d4a9bc9612be738a81d0fe632b00b971e2bb9a
c9b2af9c94d197b843cd016823fc5d8dffadd523
0f23c93c4a3d51947370570984deda49b04e383d
9858447d05901da8e335b3705d961fcd25e51c44
15849ff8a79a86977272335bc35387e7907a6857
d42b19481ec61fac518e2e224cbeef5d03f4a9e3
5a09fcd65081be9d1bafa0493697d85aecbb22ae
17b4c395793d0808549fb843199c4e54f0bba19a
ac49eeb6a55af554d86d37b4a4ea7940010866e1
e33977e292ccef99ea8828733e97562f3690a8ad
91bf47807beab6ebf094d9a11c18f6c3fb30ace7
7025965d2b88da197d4459be3dc9386344cc1f31
25559969c52847e3d892377c0d5ede529cbe6913
b2e4017063376d7eb1a72d91ec8ff38712ffebdf
6ac950be890efe6f290a50f2105661f9eb796c2f
202a92ec4abb585097c28e910263f74f103ffa33
f661e21b71a9ca331e251e51a412857d2b61d8f8
eb5e8925925042da3afd0e8062146db0b2d394a3
3d1ec422a1a244545a285a739007450cd60a91ce
f109ca710c0df51c1a86dba1b0ba0ed038114463
adb948b1b6fefe207de65e9bbc2de98e605d0b57
684a7b7c096606d1de0bddbb85d6e289b882dcea
fdd502a74e813bcfa355ceda3c176f6a6871af7f
c90a7389b3909a04f9eddf85a5b51f5f5470b8d9
36f60f6fae70855d6a506c3cbdfa8b1cc4d77c35
475526af19ba007bc39ba43c0946892035aa1b08
9b80bd38c4afe0942f8029298a11face85ce4caf
ef6f9577eddfe34dcba0e339930799b391e1d66f
af7aee4db4d23c0c96d067d96f020147fed242c5

In [58]:
account = Web3.toChecksumAddress('c47d9e6c75d388aeb92574429dad43a148f2f3ea')

In [59]:
w3.eth.getBalance(account,100000)

31307600945853274600

In [52]:
df_balance = pd.read_csv('AccountBalanace100000.csv')

In [53]:
df_balance.head()

                                    Account                Balance   Block
0  32728d6184d9a6abd2541294d4cbde925924291a                      0  100000
1  9f29a11e58479e87f4d10413ec0cf7f3ff34c4c1  240625000000000000000  100000
2  632bb14025ba69a50f8c99f962998f06b70f76b4     981800000000000000  100000
3  f79650c3c0a99fa165c62bbeab819e706182c10f                      0  100000
4  7705158b409f54a0e4373a31bbdc2a7abd8161ae                      0  100000

In [24]:
x = Web3.fromWei(25000000000000,'ether')

In [26]:
float(x)

2.5e-05

In [30]:
import pandas as pd

In [56]:
df_balance.Balance = df_balance.Balance.apply(lambda x: float(x))

In [21]:
df[df.To=='6.12416344436736E+039']

,From,To,Value,Time,Block
91311,7744774422cd8b2d5895d7bc552b9a57388db228,6.12416344436736E+039,1.000000e+18,1439452895,78378
91618,7744774422cd8b2d5895d7bc552b9a57388db228,6.12416344436736E+039,4.964882e+20,1439455427,78550

In [31]:
df_balance.describe()

            Balance     Block
count  1.262400e+04   12624.0
mean   2.408559e+21  100000.0
std    9.523821e+22       0.0
min    0.000000e+00  100000.0
25%    0.000000e+00  100000.0
50%    1.186848e+13  100000.0
75%    5.428642e+18  100000.0
max    8.809482e+24  100000.0

In [36]:
df_balance.Balance.min()

0.0

In [38]:
df_balance.Balance.max()

8.8094822394799999e+24

In [39]:
balance = df_balance.Balance.sort_values()

In [40]:
balance.head()

9100    0.0
3169    0.0
3168    0.0
3167    0.0
3166    0.0
Name: Balance, dtype: float64

In [41]:
balance.tail()

1181    2.450000e+24
7545    2.450000e+24
1391    3.454732e+24
6882    3.454732e+24
8460    8.809482e+24
Name: Balance, dtype: float64

In [43]:
G_coeff = 0.0
balance.iloc[0]

0.0

In [44]:
n = balance.count()

In [45]:
n

12624

In [50]:
balance.iloc[12623]

8.8094822394799999e+24

In [51]:
b = balance.values

In [52]:
b

array([  0.00000000e+00,   0.00000000e+00,   0.00000000e+00, ...,
         3.45473167e+24,   3.45473167e+24,   8.80948224e+24])

In [53]:
b.size

12624

In [54]:
b.cumsum()

array([  0.00000000e+00,   0.00000000e+00,   0.00000000e+00, ...,
         1.81414353e+25,   2.15961670e+25,   3.04056492e+25])

In [55]:
import matplotlib.pyplot as plt

In [58]:
a = np.array([1,2,3,4,5,6])

In [59]:
b.sum()

3.040564923603721e+25

In [66]:
A = [1,2,3,4,5]
n = len(A)+1
c = map(lambda(i,x):i*x, enumerate(A))

SyntaxError: invalid syntax (<ipython-input-66-529ddbefa042>, line 3)

In [175]:
a = [0, 0, 0, 0, 1]
a.sort()
n = len(a)
num = sum(list(map(lambda x: (n-x[0])*x[1], enumerate(a))))
den = sum(a)

In [176]:
(n+1 - 2*(num/den))/n

0.8

In [81]:
n = b.size
answer = list(map(lambda x: (n-x[0])*x[1], enumerate(b)))

In [86]:
a = np.array(a)
for i,j in enumerate(a):
    print(i,j)

0 1
1 3
2 5
3 6
4 8

In [83]:
(n+1-2*sum(answer)/b.sum())/n

0.99439717617577084

In [54]:
def giniCoefficient(df_balance): # balance is pandas table....
    balance = df_balance.Balance.sort_values()
    b = balance.values # convert to a numpy array
    n = b.size
    num = sum(list(map(lambda x: (n-x[0])*x[1], enumerate(b))))
    den = b.sum()
    return (n+1-2*(num/den))/n

In [57]:
giniCoefficient(df_balance)

0.99237693778659386

In [5]:
df.describe()

              Value          Time          Block
count  1.439050e+05  1.439050e+05  143905.000000
mean   1.384902e+20  1.439043e+09   54032.245224
std    3.003269e+21  3.821480e+06   28625.292713
min    0.000000e+00  0.000000e+00       0.000000
25%    5.000000e+18  1.438653e+09   30123.000000
50%    5.000000e+18  1.439091e+09   56685.000000
75%    5.000000e+18  1.439458e+09   78709.000000
max    3.232034e+23  1.439799e+09  100000.000000

In [6]:
df.columns

Index(['From', 'To', 'Value', 'Time', 'Block'], dtype='object')

In [20]:
x = df.groupby('From').count()['To']
y = df.groupby('To').count()['From']

In [19]:
df[df['From']=='0004b15be8cb573a7be023e203e268dbcffd302b']

,From,To,Value,Time,Block
111921,0004b15be8cb573a7be023e203e268dbcffd302b,2102cc711d03dfcedf9a443b9bd540dacbff0426,4.890000e+20,1439639772,90419
111929,0004b15be8cb573a7be023e203e268dbcffd302b,2102cc711d03dfcedf9a443b9bd540dacbff0426,1.000000e+18,1439639635,90413
116467,0004b15be8cb573a7be023e203e268dbcffd302b,2102cc711d03dfcedf9a443b9bd540dacbff0426,9.500000e+20,1439697931,93795

In [22]:
z = pd.concat([x,y])

In [25]:
x.count()

5789

In [27]:
df[df['To']=='0004b15be8cb573a7be023e203e268dbcffd302b']

,From,To,Value,Time,Block
57916,3e0b8ed86ed669e12723af7572fbacfe829b1e16,0004b15be8cb573a7be023e203e268dbcffd302b,1.490000e+21,1439101654,57346
57928,3e0b8ed86ed669e12723af7572fbacfe829b1e16,0004b15be8cb573a7be023e203e268dbcffd302b,2.000000e+17,1439101528,57336

In [47]:
x

From
0004b15be8cb573a7be023e203e268dbcffd302b      3
000df160997ba9420e4622996b05447871848834     13
0015b5e5afe7eba613cd1ba0a7345ed150adf5dc      1
0025bc2515c073784222cbcd1e988dba9a0f75af      2
0028795f5139935918a4176c80b01d32549e2819      4
0037a6b811ffeb6e072da21179d11b1406371c63      3
0037ce3d4b7f8729c8607d8d0248252be68202c0     17
003a0659d5452a076403d1411e617c9665955d59      5
003a6cefcd4377033674d8a80ddbfb3596bd13dd      3
0043bc318929d9146864870b0988d10f600f1090      1
004b37d3e250eb1826fc6a587deddc18e7be6f6f      1
004bfbe1546bc6c65b5c7eaa55304b38bbfec6d3      3
0053a170b33712997013623b9e5a27198e9bc9f9      2
007622d84a234bb8b078230fcf84b67ae9a8acae      2
007695872ab13e1016138e7bf2be234ca7a77740      1
007761bfef91f6d2b5aa41b0197bf496978eeb73      1
007a496da7690601206bc3c67176bb675ffb9b7b      1
007f7f58d3eb5b7510a301ecc749fc1fcddbe14d    156
00818287ff6ba78a461d21bd5832891592dc6c6b      7
0089508679abf8c71bf6781687120e3e6a84584d      7
008b1d771af0dcfd83c30d9d93f3b83cdf18beba      3
008dba42c465542c3fabcb5928b45194b195798f      2
008fc7cbadffbd0d7fe44f8dfd60a79d721a1c9c     38
0092c5f887dd0e13e43dbdbcedfa02e332c11fdb      5
009560a3de627868f91fa8bfe1c1b7afaf08186b      1
009781507fc411166590c7f205fbec84c4fbe0aa      1
009a9c07b91d40cce1240d517f9722b4f079a86b      1
00a0c500bce07ac7b154f1843f37bf2c6b3b508c      1
00a5797f52c9d58f189f36b1d45d1bf6041f2f6b      2
00a96cbf4b8f63462a88591facae98742d627855      1
                                           ...
fe6c45d9bb291f60872c266ee96546a9ffca2e0d      2
fe729ba7a9ad11a82e0110f87e4c68356b9cab12      2
fe7dfafa39b0a9d157238a22aba85e7f6c51bdcc      2
fe812c2f33c9f1c5dc96634b19d40e0bfed62543      2
fe835cf9f715fec23a7decbca85d616e7f6e5aec      2
fe8635c30d5b0a49d09fc9480d59e05d7450fd41      5
fe8f7c78c9ec1abf63bc535751afd1b9eca36d43      2
fe94a04fd0e639e25e3ee538c8daafa20e0b8c3e      2
fe94f82d40f91e6a01cdbe078be982b8b54389a4      2
feaa6f0a842422ddd202cf41d44eff708127136e      8
feb92d30bf01ff9a1901666c5573532bfa07eeec      3
fec14e5485de2b3eef5e74c46146db8e454e0335      4
fed19cfbf47abf30df177e69eda1e453b920c7b2      2
fedfa3299b2919c6601f4eecb6adb74637949b30      2
fee4deb01301a2633e0046305a31fca8d04f416c      2
fef75e7815a4440d1ba1f075d70978181c84ef5b      2
ff68c2f39c4e7fe2f92c2dc2f8615b1bf070e0fa      2
ff69d0daca53c25ba6026094841f66e48735755a      2
ff7b96745b3f433d2019b0beccfa24349482df88      2
ff7cdb6b68e764c2cbd95ed2a81dd04145c4f2bd      2
ff894e9ae9af25e529e87f7e0caae8279698cb41      2
ff9a46e0358502f3ae5d7fabf50e71a067259a9a      2
ffa001d148554e3f9274cbfc993e5dbe513776e1      2
ffadf482d806bbb6ada61eea870862a234f0e7e2      2
ffb0220e3f2ef137a6b34196c8fb7488636183a2      2
ffb51e371b640c7c251dbfba2f061b66e9aea864      1
ffbc3da0381ec339c1c049eb1ed9ee34fdcea6ca      6
ffcd9cae6d9f54fd8ae05296f839892677ff6eaa      5
ffe35492cbf1fdc2c4f6cd6352f5c7a44eefb7ee      2
ffeef280ababd07bd185b0ff831ac17b8020d365      2
Name: To, Length: 5789, dtype: int64

In [4]:
import numpy as np

In [ ]:
def filterbyActivity(blockNum, df):