In [1]:
from web3 import Web3, IPCProvider

In [2]:
w3 = Web3(IPCProvider('/shakespeare/sandipan/.ethereum/geth.ipc'))

In [3]:
w3.eth.getBlock('latest')

AttributeDict({'difficulty': 5791256905298,
 'extraData': HexBytes('0xd783010103844765746887676f312e342e32856c696e7578'),
 'gasLimit': 3141592,
 'gasUsed': 0,
 'hash': HexBytes('0xdc442d2ee4dc26b752bb86a50fed9559d2f1e2b4f0552bd898447733b349ce0e'),
 'logsBloom': HexBytes('0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000'),
 'miner': '0x52bc44d5378309EE2abF1539BF71dE1b7d7bE3b5',
 'mixHash': HexBytes('0xd21d1b3f884d071b92c7b6520fba5649d63634a9f6cfe658fc223579c5e790e1'),
 'nonce': HexBytes('0xa5056350ceb68f21'),
 'number': 310848,
 'parentHash': HexBytes('0xac73dda2cb7b3498d4ad02dc82bd7574f51c6fe85dd8c9fc8a10aaeb1c41e45a'),
 'receiptsRoot': HexBytes('0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421'),
 'sha3Uncles': HexBytes('0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347'),
 'size': 541,
 'stateRoot': HexBytes('0x0c6143410df13b136cb21bdeb9c0c1e7c2b3848c0959d178635c1cd8a1559729'),
 'timestamp': 1443589840,
 'totalDifficulty': 1471034619840732153,
 'transactions': [],
 'transactionsRoot': HexBytes('0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421'),
 'uncles': []})

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv('transaction_till_100000.csv')

In [8]:
df.head()

,From,To,Value,Time,Block
0,ethereum,0,5.000000e+18,0,0
1,ethereum,05a56e2d52c817161883f50c441c3228cfe54d9f,5.000000e+18,1438269988,1
2,ethereum,0193d941b50d91be6567c7ee1c0fe7af498b4137,5.000000e+18,1438270128,10
3,ethereum,e6a7a1d47ff21b6321162aea7c6cb457d5476bca,5.000000e+18,1439799138,100000
4,ethereum,9beb4d346c6309a9ce4f27393c6322c8f03a3be6,5.000000e+18,1438336146,10099

In [17]:
add = df.From.unique()[1]

In [20]:
add = Web3.toChecksumAddress(add)

In [22]:
w3.eth.getBalance(add,100)

140000000000000000000

In [26]:
df_b = df[df['Block']==1000][['From','To']]

In [34]:
import numpy as np

In [35]:
np.concatenate(df_b.From.unique(),df_b.To.unique())

TypeError: only integer scalar arrays can be converted to a scalar index

In [38]:
address = np.append(df_b.From.unique(),df_b.To.unique())

In [41]:
blockNum = 100
for i in range(len(address)):
    if address[i]!='ethereum':
        account = Web3.toChecksumAddress(address[i])
        balance = w3.eth.getBalance(account,blockNum)
        print(address[i],balance)

bb7b8287f3f0a933474a79eae42cbca977791171 151250000000000000000

In [51]:
def fillBalanceTable(blockNum,fname):
    df_b = df[df['Block']==blockNum][['From','To']]
    address = np.append(df_b.From.unique(),df_b.To.unique())
    with open(fname,'a') as ft:
        for i in range(len(address)):
            if address[i]!='ethereum':
                account = Web3.toChecksumAddress(address[i])
                balance = w3.eth.getBalance(account,blockNum)
                ft.write(account+','+str(balance)+','+str(blockNum))
                ft.write('\n')

In [49]:
fillBalanceTable(10000)

bf71642d7cbae8faf1cfdc6c1c48fcb45b15ed22 147343750000000000000

In [47]:
df[df.Block==10000]

,From,To,Value,Time,Block
103,ethereum,bf71642d7cbae8faf1cfdc6c1c48fcb45b15ed22,5.000000e+18,1438334627,10000

In [56]:
fs = open('blockAccountBalance.csv','w')
fs.write('Account,Balance,Block\n')
fs.close()

In [57]:
for i in range(1,1000):
    fillBalanceTable(i,'blockAccountBalance.csv')

In [58]:
df_1 = pd.read_csv('blockAccountBalance.csv')

In [59]:
df_1.head()

                                      Account              Balance  Block
0  0x05a56E2D52c817161883f50c441c3228CFe54d9f  5000000000000000000      1
1  0xdd2F1e6e498202e86D8f5442Af596580A4f03c2C  5000000000000000000      2
2  0x5088D623ba0fcf0131E0897a91734A4D83596AA0  5156250000000000000      3
3  0xc8ebccC5F5689Fa8659d83713341e5aD19349448  3750000000000000000      3
4  0xc8ebccC5F5689Fa8659d83713341e5aD19349448  8906250000000000000      4

In [60]:
df_1.Block.max()

999

In [61]:
for i in range(1000,5001):
    fillBalanceTable(i,'blockAccountBalance.csv')