In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import re
import datetime
import matplotlib.pyplot as plt
import numpy as np

month_index = {'May':5, 'Apr':4, 'Mar':3, 'Feb':2, 'Jan':1, 'Dec':12, 'Nov':11, 'Oct':10, 'Sep':9, 'Aug':8, 'Jul':7, 'Jun':6}

In [4]:
def formatDate(date):
    m,d,y = date.replace(',','').split(' ')
    m = str(month_index[m])
    return y+'-'+m+'-'+d

In [5]:
def obtainCloseprice(fname):
    close_price = {}
    open_price = {}
    with open(fname,'r') as fs:
        for line in fs:
            if re.match("Date.*",line):
                continue
            else:
                date,op,high,low,close,vol,mcap = line[:-2].strip().split('|')
                date = formatDate(date)
                close_price[date] = close
                open_price[date] = op
    return open_price,close_price

In [6]:
def sortPricebyTime(c_price):
    day = []
    price = []
    for d,p in sorted(c_price.items(), key = lambda x:datetime.datetime.strptime(x[0], '%Y-%m-%d')):
        day.append(d)
        price.append(float(p))
    return day,price

In [7]:
def findPeriodsofUncertainty(day,price,length):
    price_change = [0]
    for i in range(1,len(price)):
        if price[i] > price[i-1]:
            price_change.append(1)
        elif price[i] < price[i-1]:
            price_change.append(-1)
        else:
            price_change.append(0)

    all_series = []
    dates = []
    volatility_score = {}
    for i in range(len(price)-length):
        change_count = 0
        p_r = []
        d_r = []
        for j in range(length):
            p_r.append(price[i+j])
            d_r.append(day[i+j])
        all_series.append(p_r)
        dates.append(d_r)
        mean_price = np.mean(p_r)
        std_price = np.std(p_r)
        slope = p_r[-1]/p_r[0]
        volatility_score[i] = mean_price/std_price

    sorted_index = []
    for index,score in sorted(volatility_score.items(), key=lambda x:x[1]):
        sorted_index.append(index)

    return sorted_index,all_series,dates

In [8]:
open_price,close_price = obtainCloseprice('ethereum_market_value.csv')
day, price_list = sortPricebyTime(close_price)
index,all_series,dates = findPeriodsofUncertainty(day, price_list, 14)

In [9]:
index

[0,
 575,
 177,
 577,
 176,
 576,
 578,
 178,
 71,
 72,
 175,
 579,
 70,
 574,
 179,
 73,
 74,
 643,
 180,
 644,
 580,
 642,
 1,
 645,
 181,
 75,
 646,
 161,
 160,
 159,
 581,
 199,
 158,
 2,
 182,
 198,
 641,
 162,
 69,
 647,
 200,
 197,
 582,
 76,
 202,
 163,
 648,
 624,
 625,
 201,
 573,
 623,
 649,
 183,
 174,
 852,
 203,
 851,
 626,
 3,
 77,
 853,
 164,
 196,
 157,
 663,
 583,
 664,
 650,
 850,
 622,
 204,
 849,
 665,
 205,
 640,
 621,
 854,
 206,
 874,
 627,
 848,
 165,
 873,
 195,
 662,
 620,
 666,
 68,
 875,
 184,
 194,
 78,
 311,
 156,
 847,
 308,
 876,
 309,
 310,
 307,
 312,
 584,
 651,
 619,
 855,
 306,
 572,
 667,
 877,
 305,
 313,
 4,
 904,
 563,
 6,
 905,
 173,
 193,
 903,
 872,
 564,
 166,
 628,
 5,
 562,
 276,
 207,
 652,
 275,
 696,
 192,
 657,
 304,
 668,
 902,
 561,
 878,
 846,
 274,
 697,
 29,
 656,
 658,
 565,
 661,
 7,
 314,
 185,
 660,
 277,
 871,
 571,
 191,
 585,
 273,
 303,
 30,
 906,
 28,
 856,
 505,
 154,
 722,
 723,
 721,
 698,
 655,
 504,
 659,
 506,
 153,
 831,
 155,
 79,
 167,
 956,
 830,
 695,
 901,
 208,
 669,
 720,
 654,
 507,
 566,
 699,
 653,
 957,
 27,
 278,
 829,
 190,
 301,
 955,
 31,
 618,
 560,
 238,
 832,
 958,
 189,
 44,
 724,
 239,
 870,
 43,
 503,
 302,
 974,
 188,
 508,
 828,
 237,
 152,
 879,
 639,
 975,
 629,
 959,
 186,
 26,
 151,
 719,
 976,
 42,
 907,
 900,
 279,
 973,
 978,
 8,
 45,
 240,
 941,
 670,
 67,
 833,
 971,
 236,
 756,
 940,
 954,
 187,
 32,
 567,
 972,
 700,
 209,
 25,
 41,
 40,
 977,
 350,
 970,
 869,
 509,
 960,
 691,
 725,
 46,
 62,
 694,
 942,
 889,
 349,
 586,
 701,
 969,
 908,
 168,
 880,
 827,
 939,
 888,
 887,
 63,
 280,
 758,
 617,
 890,
 213,
 757,
 351,
 834,
 39,
 693,
 953,
 300,
 881,
 979,
 868,
 272,
 886,
 845,
 980,
 210,
 726,
 938,
 212,
 692,
 241,
 281,
 150,
 759,
 261,
 760,
 943,
 262,
 702,
 630,
 945,
 589,
 260,
 211,
 259,
 64,
 882,
 857,
 588,
 80,
 348,
 568,
 761,
 510,
 944,
 352,
 353,
 33,
 570,
 47,
 61,
 961,
 981,
 704,
 322,
 883,
 587,
 671,
 754,
 885,
 24,
 755,
 946,
 947,
 338,
 937,
 705,
 718,
 703,
 9,
 638,
 214,
 835,
 263,
 753,
 968,
 952,
 339,
 708,
 559,
 65,
 340,
 982,
 707,
 706,
 983,
 511,
 258,
 235,
 884,
 569,
 299,
 473,
 282,
 66,
 323,
 752,
 690,
 727,
 631,
 218,
 762,
 242,
 355,
 681,
 172,
 83,
 341,
 321,
 257,
 217,
 354,
 149,
 891,
 474,
 216,
 215,
 680,
 899,
 909,
 264,
 679,
 948,
 867,
 219,
 836,
 936,
 709,
 512,
 337,
 682,
 356,
 984,
 256,
 324,
 677,
 678,
 967,
 751,
 148,
 243,
 935,
 48,
 717,
 676,
 265,
 234,
 60,
 342,
 11,
 769,
 913,
 763,
 357,
 475,
 10,
 81,
 990,
 23,
 118,
 502,
 472,
 912,
 951,
 949,
 934,
 320,
 989,
 764,
 683,
 826,
 343,
 743,
 911,
 34,
 992,
 991,
 344,
 117,
 765,
 728,
 742,
 119,
 325,
 750,
 476,
 766,
 910,
 315,
 767,
 283,
 82,
 837,
 962,
 768,
 672,
 345,
 358,
 120,
 147,
 49,
 590,
 933,
 689,
 685,
 12,
 892,
 684,
 13,
 271,
 121,
 632,
 38,
 599,
 858,
 950,
 600,
 254,
 558,
 513,
 59,
 747,
 898,
 50,
 744,
 746,
 741,
 591,
 988,
 347,
 598,
 253,
 686,
 233,
 359,
 471,
 122,
 346,
 985,
 993,
 897,
 477,
 22,
 687,
 592,
 748,
 286,
 36,
 244,
 84,
 360,
 361,
 749,
 220,
 966,
 716,
 597,
 57,
 116,
 675,
 688,
 633,
 285,
 284,
 58,
 293,
 252,
 86,
 859,
 914,
 169,
 596,
 294,
 255,
 593,
 292,
 85,
 319,
 316,
 994,
 860,
 616,
 14,
 221,
 327,
 470,
 266,
 298,
 326,
 866,
 288,
 123,
 745,
 171,
 861,
 287,
 318,
 398,
 289,
 601,
 825,
 770,
 291,
 56,
 740,
 146,
 37,
 915,
 987,
 995,
 996,
 932,
 478,
 595,
 290,
 893,
 245,
 894,
 710,
 328,
 399,
 15,
 317,
 594,
 124,
 55,
 87,
 997,
 90,
 93,
 895,
 251,
 896,
 549,
 862,
 397,
 400,
 92,
 91,
 115,
 51,
 548,
 602,
 401,
 771,
 16,
 550,
 89,
 88,
 823,
 674,
 250,
 551,
 608,
 711,
 863,
 249,
 607,
 838,
 634,
 514,
 232,
 609,
 824,
 246,
 557,
 547,
 17,
 552,
 864,
 479,
 18,
 35,
 998,
 222,
 94,
 986,
 865,
 145,
 481,
 739,
 52,
 336,
 546,
 129,
 603,
 963,
 712,
 673,
 329,
 402,
 480,
 919,
 931,
 247,
 469,
 96,
 1001,
 482,
 128,
 114,
 798,
 248,
 715,
 95,
 501,
 713,
 918,
 335,
 822,
 729,
 295,
 483,
 1002,
 130,
 606,
 917,
 485,
 714,
 553,
 330,
 484,
 468,
 125,
 127,
 797,
 54,
 999,
 788,
 270,
 916,
 170,
 1007,
 772,
 106,
 920,
 921,
 796,
 403,
 604,
 605,
 19,
 795,
 225,
 545,
 610,
 223,
 224,
 467,
 738,
 105,
 923,
 787,
 1000,
 799,
 922,
 126,
 493,
 821,
 789,
 556,
 486,
 102,
 53,
 231,
 331,
 924,
 611,
 554,
 500,
 794,
 20,
 226,
 404,
 267,
 101,
 138,
 440,
 104,
 141,
 99,
 421,
 139,
 438,
 21,
 492,
 790,
 494,
 229,
 420,
 332,
 441,
 334,
 793,
 844,
 925,
 137,
 499,
 422,
 964,
 107,
 555,
 103,
 100,
 498,
 786,
 439,
 268,
 140,
 333,
 820,
 142,
 419,
 792,
 774,
 437,
 800,
 1003,
 775,
 423,
 635,
 773,
 791,
 113,
 776,
 98,
 818,
 544,
 362,
 737,
 136,
 97,
 839,
 131,
 730,
 418,
 405,
 436,
 495,
 819,
 612,
 442,
 144,
 297,
 497,
 491,
 143,
 523,
 227,
 230,
 365,
 522,
 515,
 228,
 296,
 456,
 466,
 817,
 364,
 516,
 457,
 524,
 366,
 458,
 269,
 396,
 368,
 965,
 367,
 525,
 108,
 363,
 521,
 111,
 443,
 736,
 459,
 424,
 455,
 417,
 112,
 520,
 490,
 454,
 1006,
 135,
 526,
 930,
 926,
 496,
 406,
 843,
 1004,
 801,
 840,
 785,
 842,
 613,
 453,
 841,
 109,
 488,
 538,
 110,
 369,
 134,
 465,
 452,
 407,
 489,
 777,
 1005,
 444,
 537,
 539,
 460,
 408,
 487,
 735,
 927,
 382,
 381,
 425,
 540,
 380,
 519,
 132,
 395,
 451,
 383,
 527,
 731,
 133,
 387,
 379,
 541,
 816,
 464,
 536,
 435,
 394,
 450,
 416,
 385,
 384,
 636,
 386,
 637,
 518,
 734,
 462,
 410,
 409,
 815,
 517,
 814,
 463,
 461,
 528,
 370,
 542,
 733,
 445,
 535,
 812,
 813,
 378,
 426,
 388,
 779,
 615,
 802,
 446,
 371,
 732,
 778,
 434,
 780,
 393,
 781,
 543,
 614,
 534,
 415,
 447,
 449,
 803,
 433,
 928,
 929,
 389,
 807,
 806,
 808,
 427,
 377,
 372,
 805,
 811,
 782,
 784,
 783,
 804,
 432,
 448,
 810,
 809,
 391,
 390,
 392,
 376,
 374,
 373,
 375,
 411,
 529,
 428,
 429,
 430,
 ...]

In [12]:
all_series[index[177]]

[337.63,
 333.36,
 330.92,
 332.39,
 347.61,
 354.39,
 366.73,
 360.4,
 380.65,
 410.17,
 474.91,
 466.28,
 471.33,
 480.36]

In [13]:
dates[index[3]]

['2017-3-06',
 '2017-3-07',
 '2017-3-08',
 '2017-3-09',
 '2017-3-10',
 '2017-3-11',
 '2017-3-12',
 '2017-3-13',
 '2017-3-14',
 '2017-3-15',
 '2017-3-16',
 '2017-3-17',
 '2017-3-18',
 '2017-3-19']

In [14]:
price_list

[2.77,
 0.753325,
 0.701897,
 0.708448,
 1.07,
 1.22,
 1.83,
 1.83,
 1.69,
 1.57,
 1.2,
 1.09,
 1.26,
 1.46,
 1.4,
 1.38,
 1.35,
 1.23,
 1.14,
 1.16,
 1.15,
 1.19,
 1.18,
 1.32,
 1.36,
 1.35,
 1.29,
 1.26,
 1.27,
 1.34,
 1.3,
 1.25,
 1.24,
 1.21,
 1.17,
 0.982978,
 1.04,
 0.936003,
 0.875622,
 0.94441,
 0.907175,
 0.874231,
 0.853685,
 0.882391,
 0.938445,
 0.919047,
 0.901796,
 0.893406,
 0.81361,
 0.736223,
 0.785964,
 0.720839,
 0.582886,
 0.661146,
 0.738644,
 0.690215,
 0.678574,
 0.687171,
 0.668379,
 0.628643,
 0.650645,
 0.609388,
 0.621716,
 0.650628,
 0.627857,
 0.634963,
 0.62603,
 0.607655,
 0.522968,
 0.561878,
 0.536495,
 0.547178,
 0.517734,
 0.489014,
 0.434829,
 0.447329,
 0.567702,
 0.539657,
 0.56359,
 0.616039,
 0.731317,
 0.869641,
 1.0,
 1.21,
 1.04,
 0.916627,
 1.06,
 0.989789,
 1.01,
 0.89905,
 0.895637,
 0.926032,
 0.927974,
 1.03,
 0.999278,
 0.934348,
 0.791829,
 0.895711,
 0.904096,
 0.888812,
 0.906368,
 0.928962,
 1.01,
 0.993319,
 0.955532,
 0.92492,
 0.97614,
 0.968018,
 0.946969,
 0.900191,
 0.863537,
 0.884183,
 0.867951,
 0.915703,
 0.878614,
 0.873119,
 0.8748,
 0.82121,
 0.812143,
 0.840041,
 0.862438,
 0.8355,
 0.811264,
 0.822118,
 0.792167,
 0.840396,
 0.929762,
 0.976973,
 0.952884,
 0.993022,
 1.01,
 0.991182,
 0.940701,
 0.920127,
 0.908072,
 0.903885,
 0.900771,
 0.864202,
 0.858077,
 0.863262,
 0.870363,
 0.854603,
 0.856365,
 0.845005,
 0.873054,
 0.911958,
 0.933542,
 0.948024,
 0.937124,
 0.971905,
 0.95448,
 0.950176,
 0.95086,
 0.942005,
 0.986789,
 0.986833,
 0.999231,
 1.06,
 1.14,
 1.13,
 1.19,
 1.21,
 1.22,
 1.33,
 1.43,
 1.37,
 1.53,
 1.55,
 1.5,
 1.97,
 2.14,
 2.5,
 2.28,
 2.39,
 2.53,
 2.49,
 2.45,
 2.31,
 2.21,
 2.44,
 2.53,
 2.58,
 2.54,
 2.53,
 2.96,
 3.18,
 4.04,
 4.44,
 6.01,
 5.55,
 5.39,
 5.24,
 5.29,
 4.32,
 3.76,
 4.4,
 4.74,
 4.34,
 4.65,
 5.62,
 5.59,
 6.24,
 6.1,
 5.92,
 6.43,
 6.47,
 6.34,
 7.65,
 8.47,
 9.29,
 10.41,
 11.0,
 11.38,
 9.55,
 9.85,
 11.9,
 11.3,
 11.08,
 13.53,
 14.47,
 12.45,
 13.01,
 12.52,
 11.08,
 11.0,
 10.53,
 10.32,
 11.86,
 11.27,
 12.42,
 11.23,
 10.74,
 10.97,
 10.42,
 11.67,
 11.66,
 11.95,
 11.4,
 11.66,
 11.6,
 11.62,
 11.16,
 10.44,
 10.69,
 10.07,
 9.72,
 9.15,
 8.94,
 8.64,
 7.44,
 8.04,
 8.39,
 8.24,
 8.61,
 9.31,
 9.04,
 8.71,
 8.47,
 8.1,
 7.82,
 8.29,
 8.0,
 7.55,
 7.4,
 7.76,
 7.17,
 7.46,
 8.81,
 8.85,
 10.16,
 9.31,
 9.41,
 9.83,
 9.35,
 9.37,
 9.48,
 9.3,
 9.36,
 10.0,
 10.06,
 10.51,
 10.24,
 9.96,
 11.17,
 12.2,
 13.56,
 14.77,
 13.64,
 14.02,
 14.29,
 13.46,
 12.73,
 12.53,
 12.43,
 11.3,
 11.89,
 12.35,
 12.73,
 14.08,
 14.0,
 13.74,
 13.85,
 13.74,
 13.97,
 13.93,
 14.51,
 14.42,
 14.4,
 13.91,
 14.19,
 15.74,
 17.6,
 18.89,
 18.35,
 20.59,
 15.38,
 11.33,
 12.23,
 11.84,
 13.31,
 13.1,
 13.68,
 14.33,
 14.28,
 13.85,
 13.88,
 12.18,
 12.61,
 12.46,
 12.2,
 12.13,
 11.72,
 11.47,
 10.61,
 10.53,
 10.11,
 11.39,
 10.97,
 10.95,
 10.46,
 10.52,
 10.5,
 11.51,
 11.95,
 11.65,
 11.16,
 11.03,
 11.62,
 12.45,
 12.65,
 14.66,
 14.3,
 12.75,
 13.84,
 11.99,
 12.97,
 12.84,
 12.79,
 12.46,
 11.88,
 10.94,
 8.79,
 10.29,
 11.04,
 10.93,
 10.88,
 10.91,
 11.25,
 12.24,
 12.14,
 11.69,
 11.78,
 11.57,
 11.19,
 11.22,
 11.14,
 10.75,
 10.76,
 10.75,
 11.25,
 11.18,
 11.12,
 11.03,
 11.04,
 11.36,
 11.3,
 11.15,
 10.93,
 10.98,
 11.23,
 11.67,
 11.99,
 12.11,
 11.76,
 11.68,
 11.72,
 11.69,
 11.55,
 11.35,
 11.65,
 12.17,
 11.64,
 11.89,
 11.92,
 11.92,
 11.94,
 12.56,
 12.7,
 12.43,
 13.19,
 14.43,
 13.77,
 13.25,
 13.33,
 12.88,
 13.1,
 12.82,
 13.1,
 13.27,
 13.07,
 13.22,
 13.17,
 13.2,
 13.45,
 13.28,
 13.04,
 12.85,
 12.67,
 12.22,
 12.05,
 11.76,
 11.79,
 11.93,
 11.96,
 11.94,
 11.98,
 11.95,
 12.01,
 12.59,
 12.02,
 12.1,
 12.18,
 12.07,
 12.04,
 11.97,
 11.41,
 11.53,
 11.5,
 11.09,
 10.44,
 11.18,
 11.0,
 10.77,
 10.75,
 10.8,
 11.09,
 11.0,
 10.87,
 10.81,
 10.83,
 10.66,
 10.52,
 10.29,
 9.88,
 10.1,
 9.97,
 10.22,
 10.06,
 9.99,
 9.48,
 9.66,
 9.58,
 9.62,
 9.91,
 9.84,
 9.23,
 9.4,
 9.33,
 9.0,
 8.72,
 8.17,
 8.59,
 8.45,
 7.76,
 7.92,
 7.44,
 6.82,
 7.87,
 8.38,
 8.23,
 8.45,
 8.13,
 8.19,
 8.52,
 8.42,
 8.27,
 7.83,
 7.86,
 7.88,
 7.87,
 7.64,
 7.66,
 7.91,
 7.58,
 7.17,
 7.27,
 7.18,
 7.27,
 7.17,
 7.52,
 8.28,
 8.16,
 7.97,
 8.17,
 8.38,
 9.73,
 11.25,
 10.25,
 10.25,
 9.87,
 10.29,
 10.33,
 10.55,
 9.72,
 9.86,
 9.77,
 9.65,
 9.9,
 9.64,
 10.3,
 10.23,
 10.4,
 10.6,
 10.91,
 10.7,
 10.82,
 10.63,
 10.57,
 10.59,
 10.54,
 10.56,
 10.48,
 10.57,
 10.73,
 10.73,
 10.82,
 11.11,
 11.43,
 11.35,
 11.39,
 11.52,
 11.43,
 11.03,
 11.28,
 11.35,
 11.4,
 11.27,
 13.03,
 12.92,
 12.9,
 12.68,
 12.81,
 12.76,
 12.43,
 12.67,
 12.6,
 13.12,
 13.07,
 13.55,
 14.52,
 15.4,
 15.82,
 17.35,
 19.03,
 19.46,
 18.62,
 19.3,
 19.61,
 18.89,
 16.65,
 17.75,
 19.33,
 21.47,
 23.44,
 28.59,
 28.65,
 35.06,
 46.35,
 46.83,
 34.16,
 44.74,
 43.39,
 43.15,
 42.34,
 43.68,
 53.11,
 51.25,
 50.52,
 49.67,
 50.77,
 53.13,
 52.21,
 50.04,
 50.7,
 48.75,
 44.36,
 44.64,
 45.3,
 43.24,
 42.16,
 44.31,
 43.27,
 43.44,
 43.41,
 46.29,
 50.22,
 47.57,
 49.1,
 48.72,
 48.3,
 50.71,
 48.31,
 49.67,
 48.22,
 48.55,
 48.49,
 50.03,
 49.89,
 52.72,
 62.17,
 70.16,
 68.38,
 79.02,
 76.3,
 77.26,
 79.72,
 96.98,
 94.4,
 97.81,
 94.01,
 91.42,
 91.16,
 89.52,
 89.88,
 88.66,
 90.84,
 90.79,
 92.41,
 89.44,
 89.86,
 96.91,
 129.53,
 126.52,
 157.94,
 174.26,
 181.95,
 190.05,
 174.45,
 160.4,
 157.76,
 170.51,
 194.91,
 231.91,
 230.67,
 222.24,
 223.78,
 224.38,
 245.33,
 248.46,
 264.47,
 258.07,
 261.67,
 281.74,
 337.67,
 340.61,
 401.49,
 397.54,
 359.05,
 361.93,
 370.23,
 379.41,
 371.46,
 370.06,
 359.0,
 336.87,
 336.37,
 341.74,
 323.7,
 303.25,
 272.69,
 293.09,
 327.93,
 302.88,
 294.92,
 274.6,
 287.99,
 282.9,
 273.3,
 268.77,
 270.55,
 245.99,
 251.7,
 242.14,
 215.36,
 197.4,
 230.77,
 209.73,
 199.66,
 170.66,
 157.36,
 193.42,
 234.39,
 199.7,
 227.26,
 218.31,
 229.48,
 225.95,
 224.71,
 206.71,
 203.95,
 204.32,
 193.12,
 205.79,
 197.98,
 203.87,
 226.77,
 219.95,
 225.34,
 223.07,
 256.51,
 261.57,
 269.18,
 296.77,
 296.03,
 295.89,
 308.86,
 310.6,
 298.06,
 300.1,
 289.82,
 302.27,
 301.46,
 295.59,
 297.47,
 301.43,
 321.59,
 314.79,
 317.52,
 325.61,
 331.92,
 333.88,
 347.89,
 347.75,
 370.67,
 378.49,
 383.04,
 387.74,
 348.98,
 347.48,
 295.17,
 312.99,
 334.34,
 329.43,
 296.5,
 294.4,
 288.75,
 294.53,
 291.46,
 277.11,
 213.91,
 250.46,
 246.52,
 251.75,
 293.5,
 282.8,
 283.74,
 258.58,
 264.31,
 286.17,
 282.48,
 292.33,
 287.44,
 306.47,
 299.15,
 291.47,
 301.46,
 302.34,
 297.48,
 292.46,
 292.66,
 295.86,
 308.59,
 311.12,
 308.61,
 297.39,
 299.87,
 303.46,
 304.14,
 338.76,
 339.63,
 336.6,
 333.38,
 317.08,
 314.32,
 308.09,
 304.01,
 300.19,
 295.45,
 286.95,
 298.33,
 297.93,
 296.53,
 297.42,
 296.3,
 305.09,
 307.75,
 305.88,
 291.69,
 287.43,
 305.71,
 300.47,
 296.26,
 298.89,
 294.66,
 309.07,
 320.88,
 299.25,
 314.68,
 307.91,
 316.72,
 337.63,
 333.36,
 330.92,
 332.39,
 347.61,
 354.39,
 366.73,
 360.4,
 380.65,
 410.17,
 474.91,
 466.28,
 471.33,
 480.36,
 472.9,
 427.52,
 447.11,
 466.54,
 463.45,
 465.85,
 470.2,
 463.28,
 428.59,
 434.41,
 456.03,
 473.5,
 441.72,
 515.14,
 651.43,
 702.77,
 695.82,
 684.45,
 696.21,
 719.98,
 794.64,
 826.82,
 819.09,
 821.06,
 674.86,
 719.39,
 694.15,
 765.83,
 773.84,
 762.84,
 737.02,
 753.59,
 717.26,
 756.73,
 772.64,
 884.44,
 962.72,
 980.92,
 997.72,
 1041.68,
 1153.17,
 1148.53,
 1299.74,
 1255.82,
 1154.93,
 1273.2,
 1396.42,
 1366.77,
 1291.92,
 1053.69,
 1014.25,
 1036.28,
 1039.1,
 1155.15,
 1049.58,
 1003.26,
 986.23,
 1058.78,
 1056.03,
 1055.17,
 1107.07,
 1246.01,
 1182.36,
 1071.13,
 1118.31,
 1036.79,
 915.78,
 964.02,
 834.68,
 697.95,
 793.12,
 757.07,
 817.81,
 883.87,
 860.41,
 814.66,
 868.71,
 845.26,
 923.56,
 936.98,
 944.21,
 974.12,
 923.92,
 943.87,
 895.37,
 849.97,
 812.85,
 864.19,
 840.51,
 844.81,
 869.32,
 878.26,
 855.2,
 872.2,
 856.85,
 857.23,
 866.68,
 853.68,
 816.95,
 752.83,
 704.6,
 728.92,
 686.89,
 723.34,
 699.83,
 690.83,
 614.29,
 611.3,
 601.67,
 552.78,
 538.64,
 556.73,
 557.17,
 561.73,
 539.7,
 539.62,
 526.44,
 524.29,
 489.95,
 450.12,
 446.28,
 385.97,
 394.64,
 396.46,
 379.61,
 386.43,
 416.89,
 380.54,
 383.23,
 370.29,
 385.31,
 400.51,
 398.53,
 414.24,
 430.54,
 492.94,
 492.74,
 501.48,
 531.7,
 511.15,
 502.89,
 524.79,
 567.89,
 615.72,
 605.39,
 621.86,
 642.55,
 708.16,
 615.42,
 662.81,
 647.03,
 683.68,
 688.88,
 669.92,
 673.61,
 687.15,
 ...]

In [15]:
all_transactions = pd.read_csv('all_transactions.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
all_transactions.columns

Index(['from', 'to', 'value', 'time', 'block'], dtype='object')

In [17]:
import datetime, time

In [18]:
def dateToUnixTime(date):
    return time.mktime(datetime.datetime.strptime(date, "%Y-%m-%d").timetuple())

In [34]:
all_transactions.describe()

               time         block
count  2.049610e+08  2.049610e+08
mean   1.507392e+09  4.392757e+06
std    1.834227e+07  9.723799e+05
min    0.000000e+00  0.000000e+00
25%    1.502965e+09  4.168739e+06
50%    1.512942e+09  4.710441e+06
75%    1.517238e+09  4.994431e+06
max    1.523431e+09  5.420000e+06

In [36]:
all_transactions[(all_transactions.block > 100) & (all_transactions.block<1000)]

,from,to,value,time,block
95229,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,5000000000000000000,1438270445,101
141185,ethereum,28921e4e2c9d84f4c0f0c0ceb991f45751a0fe93,5000000000000000000,1438270447,102
186089,ethereum,28921e4e2c9d84f4c0f0c0ceb991f45751a0fe93,5000000000000000000,1438270451,103
232438,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,5000000000000000000,1438270452,104
283254,ethereum,28921e4e2c9d84f4c0f0c0ceb991f45751a0fe93,5000000000000000000,1438270453,105
334657,ethereum,d7e30ae310c1d1800f5b641baa7af95b2e1fd98c,5000000000000000000,1438270454,106
385748,ethereum,d7e30ae310c1d1800f5b641baa7af95b2e1fd98c,5000000000000000000,1438270455,107
441696,ethereum,1b7047b4338acf65be94c1a3e8c5c9338ad7d67c,5000000000000000000,1438270456,108
500647,ethereum,1b7047b4338acf65be94c1a3e8c5c9338ad7d67c,5000000000000000000,1438270459,109
566554,ethereum,19dafe19f11e960e4ccfc6a5aa8890ebd748ca1e,5000000000000000000,1438270464,110
626808,ethereum,2f85b3bf062769b2a2672200afb21e3f4067a86d,5000000000000000000,1438270468,111
684512,ethereum,d7e30ae310c1d1800f5b641baa7af95b2e1fd98c,5000000000000000000,1438270469,112
747597,ethereum,48cd680bb700f6b7de89dd9ff4932ccc158c3e05,5000000000000000000,1438270471,113
812743,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,5000000000000000000,1438270472,114
871917,ethereum,1b7047b4338acf65be94c1a3e8c5c9338ad7d67c,5000000000000000000,1438270474,115
938571,ethereum,5088d623ba0fcf0131e0897a91734a4d83596aa0,5000000000000000000,1438270476,116
1005268,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,5000000000000000000,1438270480,117
1069881,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,5000000000000000000,1438270481,118
1137117,ethereum,0193d941b50d91be6567c7ee1c0fe7af498b4137,5000000000000000000,1438270482,119
1204941,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,5000000000000000000,1438270484,120
1275452,ethereum,28921e4e2c9d84f4c0f0c0ceb991f45751a0fe93,5000000000000000000,1438270486,121
1342714,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,5000000000000000000,1438270491,122
1410564,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,5000000000000000000,1438270492,123
1479311,ethereum,1b7047b4338acf65be94c1a3e8c5c9338ad7d67c,5000000000000000000,1438270493,124
1545064,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,5000000000000000000,1438270497,125
1604574,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,5000000000000000000,1438270500,126
1674598,ethereum,1b7047b4338acf65be94c1a3e8c5c9338ad7d67c,5000000000000000000,1438270501,127
1745380,ethereum,f6e1652a0397e078f434d6dda181b218cfd42e09,5000000000000000000,1438270503,128
1811806,ethereum,d7e30ae310c1d1800f5b641baa7af95b2e1fd98c,5000000000000000000,1438270504,129
1876457,ethereum,1b7047b4338acf65be94c1a3e8c5c9338ad7d67c,5000000000000000000,1438270505,130
...,...,...,...,...,...
204455318,ethereum,28921e4e2c9d84f4c0f0c0ceb991f45751a0fe93,156250000000000000,1438271916,881
204455319,ethereum,db312d1d6a2ccc64dd94a3892928bac82b4e8c15,156250000000000000,1438271920,883
204455320,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,156250000000000000,1438271941,897
204455321,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,156250000000000000,1438271945,899
204455322,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,156250000000000000,1438271952,903
204455323,ethereum,5088d623ba0fcf0131e0897a91734a4d83596aa0,156250000000000000,1438271953,904
204455324,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,156250000000000000,1438271960,910
204455325,ethereum,28921e4e2c9d84f4c0f0c0ceb991f45751a0fe93,156250000000000000,1438271966,914
204455326,ethereum,5088d623ba0fcf0131e0897a91734a4d83596aa0,156250000000000000,1438271971,916
204455327,ethereum,db312d1d6a2ccc64dd94a3892928bac82b4e8c15,156250000000000000,1438271989,924
204455328,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,312500000000000000,1438271997,928
204455329,ethereum,bb12b5a9b85d4ab8cde6056e9c1b2a4a337d2261,156250000000000000,1438272001,930
204455330,ethereum,b5edd17d2582a94610ebf0c6832c1652ebbbe210,156250000000000000,1438272004,931
204455331,ethereum,f6e1652a0397e078f434d6dda181b218cfd42e09,312500000000000000,1438272007,933
204455332,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,156250000000000000,1438272011,934
204455333,ethereum,0193d941b50d91be6567c7ee1c0fe7af498b4137,156250000000000000,1438272025,937
204455334,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,156250000000000000,1438272033,942
204455335,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,156250000000000000,1438272035,944
204455336,ethereum,28921e4e2c9d84f4c0f0c0ceb991f45751a0fe93,156250000000000000,1438272042,947
204455337,ethereum,1d605dc774c6b37bd78c66c8af81aa80efb7d86b,156250000000000000,1438272050,951
204455338,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,156250000000000000,1438272051,952
204455339,ethereum,cdfb87dde2ecad2943076aef9ef2c4b023fb4f51,156250000000000000,1438272061,960
204455340,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,156250000000000000,1438272066,963
204455341,ethereum,bb12b5a9b85d4ab8cde6056e9c1b2a4a337d2261,156250000000000000,1438272076,968
204455342,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,156250000000000000,1438272085,973
204455343,ethereum,9dfc0377058b7b9eb277421769b56df1395705f0,156250000000000000,1438272111,985
204455344,ethereum,c1cdc601f89c0428b31302d187e0dc08ad7d1c57,156250000000000000,1438272114,987
204455345,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,156250000000000000,1438272117,989
204455346,ethereum,bb7b8287f3f0a933474a79eae42cbca977791171,312500000000000000,1438272131,997
204455347,ethereum,4f85e43f44d2b0e6f57c9355806ce3e1b3f40ab8,156250000000000000,1438272134,998

In [19]:
def filterTransactionsbyDate(s_date,e_date): # start date, end date
    s_t = int(dateToUnixTime(s_date))
    e_t = int(dateToUnixTime(e_date))
    print (s_t)
    print (e_t)
    return all_transactions[(all_transactions.time >= s_t) & (all_transactions.time <= e_t)]

In [20]:
df = filterTransactionsbyDate('2017-3-06','2017-3-19')

1488754800
1489878000

In [21]:
df.head()

,from,to,value,time,block
18753511,167a9333bf582556f35bd4d16a7e80e191aa6476,920fd4b8a9648b82a71d0da5234d9aa4eb9ed310,33000000000000000000,1488769189,3299999
18753512,ethereum,61c808d82a3ac53231750dadc13c777b59310bd9,5002100000000000000,1488769189,3299999
18753513,00472c1e4275230354dbe5007a5976053f12610a,cd111aa492a9c77a367c36e6d6af8e6f212e0c8e,0,1488769162,3299998
18753514,00472c1e4275230354dbe5007a5976053f12610a,cd111aa492a9c77a367c36e6d6af8e6f212e0c8e,0,1488769162,3299998
18753515,ethereum,73b8865eda227d6fffabc83c78124dea8c347fea,5002845405454946752,1488769162,3299998

In [22]:
def getInOutdegrees(df): # all transactions in and out of an account
    x = df.groupby('to').count()['from'].to_frame().reset_index().rename(columns={'to':'account','from':'in_trans'})
    y = df.groupby('from').count()['to'].to_frame().reset_index().rename(columns={'from':'account','to':'out_trans'})
    return pd.merge(x,y,how='outer',on=['account']).fillna(0)

In [48]:
x = df.groupby('to').count()['from']

In [51]:
x_1 = x.to_frame().reset_index().rename(columns={'to':'account','from':'in_trans'})

In [52]:
y = df.groupby('from').count()['to']
y_1 = y.to_frame().reset_index().rename(columns={'from':'account','to':'out_trans'})

In [54]:
pd.merge(x_1,y_1,how='outer',on=['account']).fillna(0)

                                         account  in_trans  out_trans
0       0000000000000000000000000000000000000000       1.0        0.0
1       00000000000000000000000029477ea7ae65dd75       1.0        0.0
2       00000004fdfa473b4b42dda545155a4ce773749b       2.0        1.0
3       0000000d2138b2ee1865cd3e4454c562b9ba7bff       7.0        0.0
4       000001f568875f378bf6d170b790967fe429c81a       2.0       26.0
5       00004aba4ac63de11447e4e17aca83f0abb1fc33       1.0        4.0
6       000058aeb44a69e03ea729c4a9c3ca6190e43aa0       1.0        1.0
7       0000f7e4f494a7b03c29e1a0559c71fcb5186d05       1.0        0.0
8       000108265afa2adbd5808df2187fc8187865020f       1.0        1.0
9       000110fad59080856750eb1762eae0021e032f72       1.0        0.0
10      00011675f9d83c2fbbd93883f056093ba322e600       7.0       30.0
11      00012af25f0f0b7be1668ae26d21edd2e784f9d4       1.0        0.0
12      00012b901f9b8051b7c4f2bac2b154724cc9eae1       1.0        1.0
13      000130867755438fcb83dddcb7ed04d89c79780c       2.0        4.0
14      00014853d700ae1f39ba9dbabdec1c8683cf1b2a       1.0        1.0
15      0001618d03b9fb6a12323cb0f071dfec2af8a068       1.0        1.0
16      0001d80c621e4d7d8d938e761a69d2981d4bc350       1.0        6.0
17      0002039f234e9bb0bdb880560677fb74df0a5510       1.0        0.0
18      000208fac106f66ff823ca52464e80c6c3c70fb7       2.0        3.0
19      00027d0f1e7500de82ad5d4ce61f93ab56f23d9f       1.0        2.0
20      0002c64156b6fa7bd7a6dfc0d35887aeca630cc2       1.0        3.0
21      0002f7a4fefbf6577c3876a611cbbef5abc50e48       1.0        0.0
22      0003347c9ea80ed06af75149ddaaef7f371e9a75       3.0        1.0
23      0003a4fa565a02440100d58af3a9d0b6f5f95233       4.0        1.0
24      000403c33784a0827b4d261d228b4d0b35e61111       2.0        1.0
25      0004d389002d64cda78bb3501d22d0fe5622e64c       2.0        0.0
26      00056dfefeb5dd57eaffdb18c6ea42c3f93690e3       2.0        4.0
27      00056f463017c7be5ed5223c2930c3086a779586       2.0        0.0
28      00058376afe98b6a1e9bea9f93bb4cec5d9a1648       3.0        1.0
29      0005a1402d7932e9ea0ec19c9f9db96a3758dca1       3.0        3.0
...                                          ...       ...        ...
176850  ff6e39c15ea8b2fee4283f84b34ab976799435dd       0.0        8.0
176851  ff70e0c2dde4b98d89c0a7d24329765897e28ff9       0.0        2.0
176852  ff778dee06f557755ddfacd83574db3a2823e89b       0.0        1.0
176853  ff7a77e3cac126eee1e9ca0aa0a72feb232108cf       0.0        1.0
176854  ff7cae450435b0bf2776edf6dfe650a0d45e2d7f       0.0        2.0
176855  ff81facc55c957a26e7a37ab7cb7cf595862ab3a       0.0        3.0
176856  ff85d5bda6cc454c3ad12723fe6e3abc095f1b11       0.0        5.0
176857  ff8738aecac6d79de0d7bdb043290d0b2d32fbcb       0.0        1.0
176858  ff889e7e9c5e668c7413487f4e5edda4671abad6       0.0        1.0
176859  ff8980239f2967eeaf4ee54189d623e0fbdf2f61       0.0        1.0
176860  ff8d12c255c4dde098dcd1ee8330bcbdf42afe3a       0.0        1.0
176861  ff8dfb8f862d24c4a7b5423db5b077826b5758e5       0.0       13.0
176862  ff8e151c3dd8dda105a7d0d73640f5a8ad72c210       0.0        1.0
176863  ff93f53be41d4f3412898120fa7c6a5b765199c9       0.0        1.0
176864  ff99f99031898c9533ce3b91b211a5bdb6eaf4f0       0.0        1.0
176865  ff9e46f22d07b4b7c77fdd82a2bcf3de7f72515e       0.0        1.0
176866  ffa4942f1014fd3a195de25c8fc057f8a53588bc       0.0        1.0
176867  ffad3dd74e2c1f796ac640de56dc99b4c792a402       0.0        1.0
176868  ffb1a32a2441e3bba804c93b5821109d3e6a7d1f       0.0        1.0
176869  ffb3b59215185ca47ae445cf17d8b975678ab84b       0.0        1.0
176870  ffc13ae907511ed5cdbc336d748af661b92b6af0       0.0        6.0
176871  ffc31f9f8b82f0a8eafce4a93524adacd4474846       0.0        3.0
176872  ffc4617421ca0c7778efdf3d2667e8eaccac36e4       0.0        1.0
176873  ffcf916a14f3ffd664c6b51374c6fd421879cc2c       0.0        1.0
176874  ffd567ff44154c8c6eb44498fb24ab3e51fe3211       0.0        1.0
176875  ffd7614b6e8f023d7c859dde4709a56d49116a29       0.0        1.0
176876  ffd8280b6879281e4cfa5dd045b5307032d4ea53       0.0        1.0
176877  ffefbe89960272b44c879cd496c16ee842c91218       0.0        1.0
176878  fff0c899bf6366c62df9fe45ab3e3f5092eff802       0.0        1.0
176879  fff62e51dc67c5e08b35732ed14ca58b4088f38c       0.0        1.0

[176880 rows x 3 columns]

In [58]:
df[df['to']=='000001f568875f378bf6d170b790967fe429c81a'].count()

from     2
to       2
value    2
time     2
block    2
dtype: int64

In [284]:
df_degree = getInOutdegrees(df)

In [24]:
def getEthersoldbrought(df): # get for each account amount of ether sold and bought
    x = df.groupby('from').sum()['value'].to_frame().reset_index().rename(columns={'from':'account','value':'value_out'})
    y = df.groupby('to').sum()['value'].to_frame().reset_index().rename(columns={'to':'account','value':'value_in'})
    return pd.merge(x,y,how='outer',on=['account']).fillna(0)

In [25]:
df.columns

Index(['from', 'to', 'value', 'time', 'block'], dtype='object')

In [26]:
df['value'] = df['value'].astype('float64')

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [76]:
df.groupby('from').sum()['value'].to_frame().reset_index().rename(columns={'from':'account','value':'value_out'})

                                         account     value_out
0       0000000008b4c94610f112d6bae67a198ca6269d  1.121692e+18
1       00000004fdfa473b4b42dda545155a4ce773749b  5.499375e+16
2       000001f568875f378bf6d170b790967fe429c81a  2.912951e+19
3       00004aba4ac63de11447e4e17aca83f0abb1fc33  5.626726e+20
4       000058aeb44a69e03ea729c4a9c3ca6190e43aa0  5.603188e+14
5       000108265afa2adbd5808df2187fc8187865020f  8.888177e+18
6       00011675f9d83c2fbbd93883f056093ba322e600  5.188794e+18
7       00012b901f9b8051b7c4f2bac2b154724cc9eae1  5.212225e+18
8       000130867755438fcb83dddcb7ed04d89c79780c  1.000100e+22
9       00014853d700ae1f39ba9dbabdec1c8683cf1b2a  0.000000e+00
10      0001618d03b9fb6a12323cb0f071dfec2af8a068  1.987311e+18
11      0001aebe0b48bbf1cee8df2c0dfd7c2031543859  0.000000e+00
12      0001d80c621e4d7d8d938e761a69d2981d4bc350  1.200000e+17
13      0001fe7648a2c144becdf9f17f0055315a519f86  1.000000e+19
14      00020605b3a7cb3ed81ad1ef5aad9ff56e4f8bb4  1.150947e+20
15      000208fac106f66ff823ca52464e80c6c3c70fb7  1.999999e+21
16      00027d0f1e7500de82ad5d4ce61f93ab56f23d9f  1.648445e+19
17      0002b44ddb1476db43c868bd494422ee4c136fed  3.000000e+16
18      0002c64156b6fa7bd7a6dfc0d35887aeca630cc2  3.000000e+16
19      0003347c9ea80ed06af75149ddaaef7f371e9a75  1.310754e+19
20      0003a4fa565a02440100d58af3a9d0b6f5f95233  3.850000e+18
21      000403c33784a0827b4d261d228b4d0b35e61111  3.197390e+19
22      00056dfefeb5dd57eaffdb18c6ea42c3f93690e3  8.949700e+19
23      00058376afe98b6a1e9bea9f93bb4cec5d9a1648  5.961296e+18
24      00059c3790544ecd5a6707fa2907110cba13508f  1.000000e+18
25      0005a1402d7932e9ea0ec19c9f9db96a3758dca1  3.042206e+18
26      0005f331b897aa6cd9d0ff4ed79fb615a37d8078  2.000000e+17
27      0005f6e1192f44971b8a77ffafd459565ce138bf  9.999118e+18
28      00066d475641392476105ee386d6f15056a43e0b  3.000000e+16
29      0006af5f200a73a6c3794c16d151ae01bc165afb  2.378815e+19
...                                          ...           ...
142639  fff15347fca959673b147722a6b31f74f62e7936  2.632130e+19
142640  fff24ddc34500d91a853e2bde1474a4cde205fa5  7.627957e+19
142641  fff281812d137ffb894eb4c8a47957b2301cf186  1.500000e+18
142642  fff3e8be047da20220c5eb2ce54652ceb69ec4ad  1.346112e+20
142643  fff3ee0a879009a507050d5d57fe50b19c63b3b6  1.247600e+18
142644  fff5b0cf4ec427a88cbea2efaebf7bbc319262ad  2.000999e+21
142645  fff62e51dc67c5e08b35732ed14ca58b4088f38c  9.995800e+17
142646  fff6820f57e8ec5ef683e60c316eac2c3ecdc4cd  1.011214e+18
142647  fff7843f22d46bd487f8e58a211791f399b0fdc7  1.355347e+18
142648  fff81143c01c08077532c5d3cb7737347185f6fe  2.469160e+18
142649  fff83f4ddc29742d814b224f711e4ad1c8c8b37d  9.580000e+15
142650  fff94cbf014adb124074415bdde30c94948c47e2  5.800000e+14
142651  fff9eb66fc86d4a71626a6d531f6107e57df8cd1  1.183708e+19
142652  fffa7ddfa89e6633ea96bd659f7c2b03fe013359  6.617149e+18
142653  fffa805e16758472ee1d46c741f2fdce7b21c363  1.021464e+19
142654  fffa92d133d06fb90b65677145f7646b0da19c4a  1.000100e+22
142655  fffb902994330ae081c75640e976517bee229f11  4.051318e+18
142656  fffbca3a38c3c5fcb3adbb8e63c04c3e629aafce  2.680700e+19
142657  fffbcb839bae2449c54bbbfa1ec194867d62ffea  2.791458e+19
142658  fffbf9ac5036a876db16fa71d21c733df7f92d27  1.000100e+22
142659  fffc59284dc1ac55b5b70c6b59c3e5743361277a  3.960506e+18
142660  fffc93b0b5c8e7cbeed0b82297dc60f037b06b74  2.173265e+19
142661  fffced42b9ce76f42383b24658ab12ec4896963e  2.000999e+21
142662  fffd09ed8eadbe33495b5a86804ed3c5b3728fa6  0.000000e+00
142663  fffd5f4ccde8a368970acdd184feb0994eba0b97  5.253866e+18
142664  fffdc705880feb2a65b3bcf09a77a4627e8f63a6  1.242807e+17
142665  fffe2019fc74c82aa5b966f7830586dec70866c9  1.000100e+22
142666  fffe9271c2842c8a6001b0d3e94e7d7519134160  2.000999e+21
142667  ffff3f53a7127ab51df0430d27d70df804c81371  1.999999e+21
142668  ffff6d88c6b16f560f0f2047f60a16362ff36561  2.000999e+21

[142669 rows x 2 columns]

In [84]:
df[df['from']=='0000000008b4c94610f112d6bae67a198ca6269d']

,from,to,value,time,block
19482238,0000000008b4c94610f112d6bae67a198ca6269d,621f844d9fbdae258a545f561081528f3da86b0e,1.121692e+18,1489628314,3359410

In [281]:
df_value = getEthersoldbrought(df)

In [86]:
all_transactions[all_transactions['from']=='ae4f56f072c34c0a65b3ae3e4db797d831439d93']

Empty DataFrame
Columns: [from, to, value, time, block]
Index: []

In [31]:
a_f = df['from'].unique()

In [32]:
a_t = df['to'].unique()

In [33]:
all_addresses = np.union1d(a_f,a_t)

In [34]:
address_map = {}
for i,v in enumerate(all_addresses):
    address_map[v] = i

In [36]:
del address_map['ethereum']

In [37]:
len(address_map)

176879

In [42]:
df.shape[0]

1062352

In [43]:
df_net = df[['from','to']]

In [45]:
df_net.head() # remove the 0 value transactions...

,from,to
18753511,167a9333bf582556f35bd4d16a7e80e191aa6476,920fd4b8a9648b82a71d0da5234d9aa4eb9ed310
18753512,ethereum,61c808d82a3ac53231750dadc13c777b59310bd9
18753513,00472c1e4275230354dbe5007a5976053f12610a,cd111aa492a9c77a367c36e6d6af8e6f212e0c8e
18753514,00472c1e4275230354dbe5007a5976053f12610a,cd111aa492a9c77a367c36e6d6af8e6f212e0c8e
18753515,ethereum,73b8865eda227d6fffabc83c78124dea8c347fea

In [46]:
df_net_filtered = df_net[df_net['from']!='ethereum']

In [47]:
df_net_filtered.head()

,from,to
18753511,167a9333bf582556f35bd4d16a7e80e191aa6476,920fd4b8a9648b82a71d0da5234d9aa4eb9ed310
18753513,00472c1e4275230354dbe5007a5976053f12610a,cd111aa492a9c77a367c36e6d6af8e6f212e0c8e
18753514,00472c1e4275230354dbe5007a5976053f12610a,cd111aa492a9c77a367c36e6d6af8e6f212e0c8e
18753516,593c97a298bacbdfcf1a820772bdb2fd564a7a1b,42682df62ed39520bb27822e211060b417ab987b
18753517,00472c1e4275230354dbe5007a5976053f12610a,cd111aa492a9c77a367c36e6d6af8e6f212e0c8e

In [56]:
df_filtered = df[(df['from']!='ethereum') & (df['value']>0) & (df['to']!='ethereum')]

In [57]:
df_filtered.head()

,from,to,value,time,block
18753511,167a9333bf582556f35bd4d16a7e80e191aa6476,920fd4b8a9648b82a71d0da5234d9aa4eb9ed310,3.300000e+19,1488769189,3299999
18753516,593c97a298bacbdfcf1a820772bdb2fd564a7a1b,42682df62ed39520bb27822e211060b417ab987b,2.000000e+18,1488769158,3299997
18753518,9b44ad6ac17e3e56c77f9f09bca2fc78ba898ba3,b7244bc40f634d586b1c78812b2ea0e65d6814a1,1.000000e+15,1488769158,3299997
18753520,aae74a4e354072dc8cf22d8305233a38f392b6a6,24f21c22f0e641e2371f04a7bb8d713f89f53550,1.948150e+17,1488769153,3299996
18753521,ea674fdde714fd979de3edf0f56aa9716b898ec8,fe54879605e5d8951cf9374a9c0593f8441e6f97,1.014981e+18,1488769153,3299996

In [147]:
df_net = df_filtered[['from','to']]

In [148]:
df_net.head()

,from,to
18753511,167a9333bf582556f35bd4d16a7e80e191aa6476,920fd4b8a9648b82a71d0da5234d9aa4eb9ed310
18753516,593c97a298bacbdfcf1a820772bdb2fd564a7a1b,42682df62ed39520bb27822e211060b417ab987b
18753518,9b44ad6ac17e3e56c77f9f09bca2fc78ba898ba3,b7244bc40f634d586b1c78812b2ea0e65d6814a1
18753520,aae74a4e354072dc8cf22d8305233a38f392b6a6,24f21c22f0e641e2371f04a7bb8d713f89f53550
18753521,ea674fdde714fd979de3edf0f56aa9716b898ec8,fe54879605e5d8951cf9374a9c0593f8441e6f97

In [149]:
all_addresses = np.union1d(df_filtered['from'].unique(),df_filtered['to'].unique())

In [66]:
len(all_addresses)

171757

In [67]:
address_map = {}
for index,add in enumerate(all_addresses):
    address_map[add] = index

In [69]:
df_net['from'] = df_net['from'].apply(lambda x:address_map[x])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
df_net['to'] = df_net['to'].apply(lambda x:address_map[x])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
df_net.head()

            from      to
18753511   15844   98532
18753516   60553   45390
18753518  104640  123278
18753520  115060   25335
18753521  157282  170488

In [72]:
import igraph

In [73]:
from igraph import *

In [74]:
g = Graph()

In [80]:
g.add_vertices(3)

In [81]:
g.add_edges([(1,2),(0,1)])

In [82]:
print(g)

IGRAPH U--- 3 2 --
+ edges:
1--2 0--1

In [84]:
g.add_edges([(1,2)])

In [85]:
summary(g)

IGRAPH U--- 3 3 --

In [86]:
print(g)

IGRAPH U--- 3 3 --
+ edges:
1--2 0--1 1--2

In [89]:
g.are_connected(0,2)

False

In [90]:
g.get_edgelist()

[(1, 2), (0, 1), (1, 2)]

In [91]:
g.get_eid(1,2)

2

In [92]:
g.delete_edges(2)

In [93]:
summary(g)

IGRAPH U--- 3 2 --

In [94]:
g.get_edgelist()

[(1, 2), (0, 1)]

In [95]:
g.get_adjacency()

Matrix([[0, 1, 0], [1, 0, 1], [0, 1, 0]])

In [96]:
d_g = Graph(directed=True)

In [97]:
d_g.add_vertices(3)

In [98]:
d_g.add_edges([(1,2),(0,1)])

In [103]:
print(g.k_core()[1])

IGRAPH U--- 3 2 --
+ edges:
1--2 0--1

In [104]:
g_1 = Graph()

In [105]:
g_1.add_vertices(6)

In [106]:
g_1.add_edges([(0,1),(1,2),(2,3),(2,4),(1,4),(4,5)])

In [107]:
summary(g_1)

IGRAPH U--- 6 6 --

In [109]:
cores = g_1.k_core()

In [115]:
summary(cores[2])

IGRAPH U--- 3 3 --

In [116]:
g_2 = Graph()

In [117]:
g_2.add_vertices(8)

In [118]:
g_2.add_edges([(0,1),(0,2),(0,3),(0,7),(1,2),(1,3),(1,6),(2,3),(2,5),(3,4)])

In [119]:
summary(g_2)

IGRAPH U--- 8 10 --

In [120]:
cores = g_2.k_core()

In [121]:
summary(cores[0])

IGRAPH U--- 8 10 --

In [127]:
summary(cores[6])

IGRAPH U--- 0 0 --

In [132]:
summary(cores[2])

IGRAPH U--- 4 6 --

In [133]:
cores[1].vs

In [152]:
df_net = df_net.rename(columns={'from':'s','to':'d'})

In [184]:
for row in df_net_sample.itertuples():
    print(row.s,row.d)
    break

9535b2e7faaba5288511d89341d94a38063a349b 9e0b9ddba97dd4f7addab0b5f67036eebe687606

In [154]:
G_transaction = Graph(directed=True)

In [155]:
df_net_sample = df_net.sample(100)

In [158]:
all_addresses = np.union1d(df_net_sample['s'].unique(),df_net_sample['d'].unique())

In [159]:
G_transaction.add_vertices(len(all_addresses))

In [160]:
G_transaction.vs['addr'] = all_addresses

In [186]:
for row in df_net_sample.itertuples():
    x,y = row.s,row.d
    break

In [188]:
G_transaction.vs.find(addr=x).index

82

In [191]:
G_transaction.vs[82]['addr']

'9535b2e7faaba5288511d89341d94a38063a349b'

In [201]:
def create_graph(df):
    df_filtered = df[(df['value']>0) & (df['from']!='ethereum')][['from','to']].rename(columns={'from':'s','to':'d'}).drop_duplicates()
    all_addresses = np.union1d(df_filtered['s'].unique(),df_filtered['d'].unique())
    print('found addresses: ',len(all_addresses))
    G = Graph(directed=True)
    G.add_vertices(len(all_addresses))
    G.vs['addr'] = all_addresses
    print('added nodes and attributes')
    edges = []
    for row in df_filtered.itertuples():
        x,y=row.s,row.d
        u = G.vs.find(addr=x).index
        v = G.vs.find(addr=y).index
        edges.append((u,v))
    print('obtained all edges... inserting now')    
    G.add_edges(edges)    
    return G

In [202]:
G = create_graph(df)

In [203]:
summary(G)

IGRAPH D--- 171757 321435 --
+ attr: addr (v)

In [204]:
cores = G.k_core()

In [205]:
len(cores)

171757

In [206]:
core_num = np.zeros(171757)

In [215]:
def countNodes(G):
    cnt = 0
    for n in G.vs:
        cnt+=1
    return cnt

In [227]:
summary(cores[2])

IGRAPH D--- 124768 275554 --
+ attr: addr (v)

In [266]:
def getCoreNum(G,cores):
    #cores = G.k_core()
    node_cnt = countNodes(cores[0])+1
    core_num = {}
    i=1
    while i<len(cores):
        
        if countNodes(cores[i])==0:
            break
        elif countNodes(cores[i])<node_cnt: # change in core number
            # assign new core numbers...
            node_cnt = countNodes(cores[i])
            lst = [v['addr'] for v in cores[i].vs]
            for n in lst:
                core_num[n] = i
        else:
            continue
                        
        i+=1
    return core_num

In [268]:
core_num = getCoreNum(G,cores)

In [269]:
len(core_num)

171757

In [256]:
lst = [v['addr'] for v in cores[10].vs]

In [258]:
%load_ext Cython

In [261]:
len(lst)

117

In [279]:
core_num = getCoreNum(G,cores)

In [283]:
for addr,val in sorted(core_num.items(),key = lambda x:x[1],reverse=True):
    print(addr,val)
    break

001a313e182e8ab1ca65803af7058a2e3cf31e02 12

In [282]:
df_value[df_value['account']=='001a313e182e8ab1ca65803af7058a2e3cf31e02']

                                      account     value_out      value_in
101  001a313e182e8ab1ca65803af7058a2e3cf31e02  3.099360e+19  3.100000e+19

In [285]:
df_degree[df_degree['account']=='001a313e182e8ab1ca65803af7058a2e3cf31e02']

                                      account  in_trans  out_trans
116  001a313e182e8ab1ca65803af7058a2e3cf31e02       2.0       14.0

In [295]:
df_degree.sort_values('in_trans')[-20:]

                                         account  in_trans  out_trans
48538   4bb96091ee9d802ed039c4d1a5f6216f90f81b01    4563.0     4308.0
113956  b36cbe7f95a39984384e6aa4068b02c1697ef80e    5290.0      398.0
157538  f90c9ac616ecfefb3860aaa5bc33caf9bc606441    5362.0      416.0
80898   7ed1e469fcb3ee19c0366d829e291451be638e59    5800.0     2825.0
122486  c0ea08a2d404d3172d2add29a45be56da40e2949    6062.0       12.0
113430  b2930b35844a230f00e51431acae96fe543a0347    6120.0     6428.0
109152  abbb6bebfa05aa13e908eaa492bd7a8343760477    6432.0        0.0
19880   1e9939daaad6924ad004c2560e90804164900341    7718.0    23246.0
100559  9e0b9ddba97dd4f7addab0b5f67036eebe687606    8466.0    30271.0
147725  e94b04a0fed112f3664e45adb2b8915693dd5ff3   10613.0        0.0
72176   70faa28a6b8d6829a4b1e649d26ec9a2a39ba413   13090.0    17011.0
27262   2a65aca4d5fc5b5c859090a6c34d164135398226   13437.0    46634.0
62494   61c808d82a3ac53231750dadc13c777b59310bd9   16468.0    28894.0
158357  fa52274dd61e1643d2205169732f29114bc240b3   17081.0        0.0
148431  ea674fdde714fd979de3edf0f56aa9716b898ec8   17090.0    80154.0
92480   91337a300e0361bddb2e377dd4e88ccb7796663d   21448.0     3773.0
150559  edbaf3c5100302dcdda53269322f3730b1f0416d   21587.0        0.0
35726   37a9679c41e99db270bda88de8ff50c0cd23f326   32048.0        0.0
130123  cd111aa492a9c77a367c36e6d6af8e6f212e0c8e   48460.0        0.0
21165   209c4784ab1e8183cf58ca33cb740efbf3fc18ef   79239.0        0.0

In [291]:
core_num['209c4784ab1e8183cf58ca33cb740efbf3fc18ef']

5

In [292]:
df_value[df_value['account']=='209c4784ab1e8183cf58ca33cb740efbf3fc18ef']

                                         account  value_out      value_in
147141  209c4784ab1e8183cf58ca33cb740efbf3fc18ef        0.0  4.282300e+24

In [296]:
core_num['61c808d82a3ac53231750dadc13c777b59310bd9']

8

In [297]:
df_value[df_value['account']=='61c808d82a3ac53231750dadc13c777b59310bd9']

                                        account     value_out      value_in
55062  61c808d82a3ac53231750dadc13c777b59310bd9  7.946240e+22  7.728468e+22

In [303]:
def errorInBalance(df):
    # calculate balance based on transaction..
    df_value = getEthersoldbrought(df)
    df_value['balance'] = df_value['value_in']-df_value['value_out']
    return df_value

In [299]:
df_value['balance'] = df_value['value_in']-df_value['value_out']

In [300]:
df_value.columns

Index(['account', 'value_out', 'value_in', 'balance'], dtype='object')

In [302]:
df_value.iloc[1]

account      00000004fdfa473b4b42dda545155a4ce773749b
value_out                                 5.49937e+16
value_in                                  1.16538e+17
balance                                   6.15446e+16
Name: 1, dtype: object

In [ ]:
def create_graph_2(df):
    df_filtered = df[(df['value']>0) & (df['from']!='ethereum')][['from','to']].rename(columns={'from':'s','to':'d'}).drop_duplicates()
    all_addresses = np.union1d(df_filtered['s'].unique(),df_filtered['d'].unique())
    print('found addresses: ',len(all_addresses))
    G = Graph(directed=True)
    G.add_vertices(len(all_addresses))
    print('added vertices')
    edges = []
    for row in df_filtered.itertuples():
        x,y=all_addresses[row.s],all_addresses[row.d]
        edges.append((x,y))
    print('obtained all edges... inserting now')    
    G.add_edges(edges)
    return G,all_addresses