In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('transaction_till_100000.csv')

In [3]:
df.head()

,From,To,Value,Time,Block
0,ethereum,0,5.000000e+18,0,0
1,ethereum,05a56e2d52c817161883f50c441c3228cfe54d9f,5.000000e+18,1438269988,1
2,ethereum,0193d941b50d91be6567c7ee1c0fe7af498b4137,5.000000e+18,1438270128,10
3,ethereum,e6a7a1d47ff21b6321162aea7c6cb457d5476bca,5.000000e+18,1439799138,100000
4,ethereum,9beb4d346c6309a9ce4f27393c6322c8f03a3be6,5.000000e+18,1438336146,10099

In [12]:
x = df.groupby('From').count()['to']

In [17]:
x = df.groupby(['From']).From.agg('count').to_frame('count').reset_index().rename(columns={'From':'account'})

In [18]:
y = df.groupby(['To']).From.agg('count').to_frame('count').reset_index().rename(columns={'To':'account'})

In [21]:
z = pd.concat([x,y])

In [22]:
z.count()

account    12627
count      12627
dtype: int64

In [23]:
z.columns

Index(['account', 'count'], dtype='object')

In [38]:
trans_count = z.groupby('account').sum()

In [43]:
trans_count[trans_count['count']>2].count()

count    5355
dtype: int64

In [28]:
type(trans_count)

pandas.core.frame.DataFrame

In [45]:
trans_count.count

<bound method DataFrame.count of                                           count
account
0                                           203
0000000083178e9873ce992f73915eefa3a27ac5      1
0000d91c20a5e7539eab3e52f73b41f450361aba      1
0004b15be8cb573a7be023e203e268dbcffd302b      5
000c6f10734a65699707b23ba5b51754aa853845      1
000df160997ba9420e4622996b05447871848834     15
001147dcbb1ec632af78203fdfa4981d65f2cd46      1
0013e723f574bafd47cc1542532cdcd98c1c2989      3
0015b5e5afe7eba613cd1ba0a7345ed150adf5dc      2
001bc0ef77194c76bcf47cd4affa70fd84c138ea      1
0024771f89e6884d642040ef15dd309eb78bff0c      1
0025bc2515c073784222cbcd1e988dba9a0f75af      3
0028795f5139935918a4176c80b01d32549e2819      6
0037a6b811ffeb6e072da21179d11b1406371c63      4
0037ce3d4b7f8729c8607d8d0248252be68202c0   1103
003a0659d5452a076403d1411e617c9665955d59      8
003a6cefcd4377033674d8a80ddbfb3596bd13dd      7
00409849d932460343859c61c65563734993bdaa      1
0043bc318929d9146864870b0988d10f600f1090      2
004b37d3e250eb1826fc6a587deddc18e7be6f6f     10
004bfbe1546bc6c65b5c7eaa55304b38bbfec6d3      3
0053a170b33712997013623b9e5a27198e9bc9f9      3
005fe5036d71907694e26421440e85103ea44018      1
0060415d52734811c7d4424377124aeee30cd157      1
006331fc207bfc3aabded887b553e5cd9898c8f1      1
00679d9e4e302166fae312b52266638ee8ec9ec2      1
006bfa4a5e365d3ae032805f8ae03e09680b2f30      1
006c2d0a03d20a1e9b838594f03fc81603e9d350      3
007622d84a234bb8b078230fcf84b67ae9a8acae      2
007695872ab13e1016138e7bf2be234ca7a77740      2
...                                         ...
feb9bf4baed684a842e797779fa8b76fe1d7bbfe      1
fec14e5485de2b3eef5e74c46146db8e454e0335      4
fec3ba4ce1e3384f75d2c05cadccedaaf9c6678a      1
fed19cfbf47abf30df177e69eda1e453b920c7b2      3
fedfa3299b2919c6601f4eecb6adb74637949b30      3
fee35b63ddf7dc99780822995745dfc245a58fb3      7
fee4deb01301a2633e0046305a31fca8d04f416c      6
fef3b3dead1a6926d49aa32b12c22af54d9ff985      1
fef646055590d4b4c67dd7c1f329a86da04d9311     13
fef75e7815a4440d1ba1f075d70978181c84ef5b      3
ff0488422583a2e977ca11c1623e9d7cf54674f6      1
ff1ef60b3bf5d14b5c40388e35a6fbd42700efc6      1
ff68c2f39c4e7fe2f92c2dc2f8615b1bf070e0fa      7
ff69d0daca53c25ba6026094841f66e48735755a      3
ff72187bde655112a85e30aaa0d1dd5b43b9d607      7
ff7b96745b3f433d2019b0beccfa24349482df88      3
ff7cae450435b0bf2776edf6dfe650a0d45e2d7f     68
ff7cdb6b68e764c2cbd95ed2a81dd04145c4f2bd      3
ff894e9ae9af25e529e87f7e0caae8279698cb41      3
ff8ae73a45077a1f245324c6dc717fad53ad5703      2
ff9a46e0358502f3ae5d7fabf50e71a067259a9a     33
ffa001d148554e3f9274cbfc993e5dbe513776e1      5
ffadf482d806bbb6ada61eea870862a234f0e7e2      3
ffb0220e3f2ef137a6b34196c8fb7488636183a2      3
ffb51e371b640c7c251dbfba2f061b66e9aea864      4
ffbc3da0381ec339c1c049eb1ed9ee34fdcea6ca      8
ffcd9cae6d9f54fd8ae05296f839892677ff6eaa    136
ffe35492cbf1fdc2c4f6cd6352f5c7a44eefb7ee      3
ffeef280ababd07bd185b0ff831ac17b8020d365      8
fffa4763f94f7ad191b366a343092a5d1a47ed08      1

[7880 rows x 1 columns]>

In [46]:
df[df['To']=='004b37d3e250eb1826fc6a587deddc18e7be6f6f']

,From,To,Value,Time,Block
107299,ethereum,004b37d3e250eb1826fc6a587deddc18e7be6f6f,5.000000e+18,1439594932,87618
109305,ethereum,004b37d3e250eb1826fc6a587deddc18e7be6f6f,5.000000e+18,1439618834,89143
111761,ethereum,004b37d3e250eb1826fc6a587deddc18e7be6f6f,5.000000e+18,1439638450,90343
112255,ethereum,004b37d3e250eb1826fc6a587deddc18e7be6f6f,5.000000e+18,1439645550,90790
112287,ethereum,004b37d3e250eb1826fc6a587deddc18e7be6f6f,5.000000e+18,1439645172,90766
114429,ethereum,004b37d3e250eb1826fc6a587deddc18e7be6f6f,5.001217e+18,1439668667,92212
116025,ethereum,004b37d3e250eb1826fc6a587deddc18e7be6f6f,5.000000e+18,1439691404,93491
116857,ethereum,004b37d3e250eb1826fc6a587deddc18e7be6f6f,5.000000e+18,1439699874,93924
125191,ethereum,004b37d3e250eb1826fc6a587deddc18e7be6f6f,5.002436e+18,1439786072,99203

In [60]:
x = df.groupby(['From']).count()

In [68]:
y = df.groupby(['To']).count()

In [73]:
z = pd.concat([x.To,y.From])

In [78]:
z = z.to_frame().reset_index().rename(columns={'index':'Account',0:'count'})

In [80]:
z.groupby('Account').sum()

                                          count
Account
0                                           203
0000000083178e9873ce992f73915eefa3a27ac5      1
0000d91c20a5e7539eab3e52f73b41f450361aba      1
0004b15be8cb573a7be023e203e268dbcffd302b      5
000c6f10734a65699707b23ba5b51754aa853845      1
000df160997ba9420e4622996b05447871848834     15
001147dcbb1ec632af78203fdfa4981d65f2cd46      1
0013e723f574bafd47cc1542532cdcd98c1c2989      3
0015b5e5afe7eba613cd1ba0a7345ed150adf5dc      2
001bc0ef77194c76bcf47cd4affa70fd84c138ea      1
0024771f89e6884d642040ef15dd309eb78bff0c      1
0025bc2515c073784222cbcd1e988dba9a0f75af      3
0028795f5139935918a4176c80b01d32549e2819      6
0037a6b811ffeb6e072da21179d11b1406371c63      4
0037ce3d4b7f8729c8607d8d0248252be68202c0   1103
003a0659d5452a076403d1411e617c9665955d59      8
003a6cefcd4377033674d8a80ddbfb3596bd13dd      7
00409849d932460343859c61c65563734993bdaa      1
0043bc318929d9146864870b0988d10f600f1090      2
004b37d3e250eb1826fc6a587deddc18e7be6f6f     10
004bfbe1546bc6c65b5c7eaa55304b38bbfec6d3      3
0053a170b33712997013623b9e5a27198e9bc9f9      3
005fe5036d71907694e26421440e85103ea44018      1
0060415d52734811c7d4424377124aeee30cd157      1
006331fc207bfc3aabded887b553e5cd9898c8f1      1
00679d9e4e302166fae312b52266638ee8ec9ec2      1
006bfa4a5e365d3ae032805f8ae03e09680b2f30      1
006c2d0a03d20a1e9b838594f03fc81603e9d350      3
007622d84a234bb8b078230fcf84b67ae9a8acae      2
007695872ab13e1016138e7bf2be234ca7a77740      2
...                                         ...
feb9bf4baed684a842e797779fa8b76fe1d7bbfe      1
fec14e5485de2b3eef5e74c46146db8e454e0335      4
fec3ba4ce1e3384f75d2c05cadccedaaf9c6678a      1
fed19cfbf47abf30df177e69eda1e453b920c7b2      3
fedfa3299b2919c6601f4eecb6adb74637949b30      3
fee35b63ddf7dc99780822995745dfc245a58fb3      7
fee4deb01301a2633e0046305a31fca8d04f416c      6
fef3b3dead1a6926d49aa32b12c22af54d9ff985      1
fef646055590d4b4c67dd7c1f329a86da04d9311     13
fef75e7815a4440d1ba1f075d70978181c84ef5b      3
ff0488422583a2e977ca11c1623e9d7cf54674f6      1
ff1ef60b3bf5d14b5c40388e35a6fbd42700efc6      1
ff68c2f39c4e7fe2f92c2dc2f8615b1bf070e0fa      7
ff69d0daca53c25ba6026094841f66e48735755a      3
ff72187bde655112a85e30aaa0d1dd5b43b9d607      7
ff7b96745b3f433d2019b0beccfa24349482df88      3
ff7cae450435b0bf2776edf6dfe650a0d45e2d7f     68
ff7cdb6b68e764c2cbd95ed2a81dd04145c4f2bd      3
ff894e9ae9af25e529e87f7e0caae8279698cb41      3
ff8ae73a45077a1f245324c6dc717fad53ad5703      2
ff9a46e0358502f3ae5d7fabf50e71a067259a9a     33
ffa001d148554e3f9274cbfc993e5dbe513776e1      5
ffadf482d806bbb6ada61eea870862a234f0e7e2      3
ffb0220e3f2ef137a6b34196c8fb7488636183a2      3
ffb51e371b640c7c251dbfba2f061b66e9aea864      4
ffbc3da0381ec339c1c049eb1ed9ee34fdcea6ca      8
ffcd9cae6d9f54fd8ae05296f839892677ff6eaa    136
ffe35492cbf1fdc2c4f6cd6352f5c7a44eefb7ee      3
ffeef280ababd07bd185b0ff831ac17b8020d365      8
fffa4763f94f7ad191b366a343092a5d1a47ed08      1

[7880 rows x 1 columns]

In [84]:
len(z[z['count']>2]['Account'].values)

4024

In [106]:
def filterAccounts(df,t_count):
    x = df.groupby(['From']).count()
    y = df.groupby(['To']).count()
    z = pd.concat([x.To,y.From]).to_frame().reset_index().rename(columns={'index':'Account',0:'count'})
    z = z.groupby('Account').sum().reset_index()
    return z[z['count']>2]['Account'].values

In [107]:
a = filterAccounts(df,2)

In [108]:
a

array(['0', '0004b15be8cb573a7be023e203e268dbcffd302b',
       '000df160997ba9420e4622996b05447871848834', ...,
       'ffcd9cae6d9f54fd8ae05296f839892677ff6eaa',
       'ffe35492cbf1fdc2c4f6cd6352f5c7a44eefb7ee',
       'ffeef280ababd07bd185b0ff831ac17b8020d365'], dtype=object)